.row
	.col-xs-12.bxslider
		.slide
			img(src="http://placehold.it/350x150&text=FooBar1")
		.slide
			img(src="http://placehold.it/350x150&text=FooBar2")
		.slide
			img(src="http://placehold.it/350x150&text=FooBar3")
		.slide
			img(src="http://placehold.it/350x150&text=FooBar4")
		.slide
			img(src="http://placehold.it/350x150&text=FooBar5")
		.slide
			img(src="http://placehold.it/350x150&text=FooBar6")
		.slide
			img(src="http://placehold.it/350x150&text=FooBar7")
		.slide
			img(src="http://placehold.it/350x150&text=FooBar8")