.row
	.col-sm-4.col-xs-6
		a(rel="group", href="./img/1_b.jpg").fancybox
			img.img-responsive(src="./img/1_s.jpg" alt="")
	.col-sm-4.col-xs-6
		a(rel="group", href="./img/2_b.jpg").fancybox
			img.img-responsive(src="./img/2_s.jpg" alt="")
	.col-sm-4.col-xs-6
		a(rel="group", href="./img/3_b.jpg").fancybox
			img.img-responsive(src="./img/3_s.jpg" alt="")
