footer.row.visible-xs
	.col-xs-12
		h4 Присоединяйтесь к нам #[br]в социальных сетях:
		.social
			a(href="javascript:;").fb
			a(href="javascript:;").vk
			a(href="javascript:;").inst

			hr
		p: img(src="./img/icons/ic-copyright-black-24-px.svg", alt="facebook" onerror="this.onerror=null; this.src='./img/icons/ic-copyright-black-24-px.png'")

		p Федеральное агентство по делам Содружества Независимых государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству, 2016


footer.hidden-xs
	.container
		.row.links
			.col-sm-2
				h4 О Представительстве
				ul
					li: a(href="javascript:;") Руководитель
					li: a(href="javascript:;") Библиотека
					li: a(href="javascript:;") Курсы русского языка
					li: a(href="javascript:;") Арт-студия «Солнце»
					li: a(href="javascript:;") СМИ о нас

			.col-sm-2
				h4 Деятельность
				ul
					li: a(href="javascript:;") Поддержка соотечественников
					li: a(href="javascript:;") Выставки и фотоэкспозиции
					li: a(href="javascript:;") Трансляции спектаклей
					li: a(href="javascript:;") Русский музей: виртуальный филиал
					li: a(href="javascript:;") Дом русского зарубежья имени А. И. Солженицына
					li: a(href="javascript:;") Электронный читальный зал Президентской библиотеки
					li: a(href="javascript:;") Публичный центр правовой информации Российской Федерации
					li: a(href="javascript:;") Проекты партнеров

			.col-sm-2
				h4 Анонсы
				ul
					li: a(href="javascript:;") Кино
					li: a(href="javascript:;") Выставки
					li: a(href="javascript:;") Концерты
					li: a(href="javascript:;") Спектакли
					li: a(href="javascript:;") Конференции
					li: a(href="javascript:;") Семинары
					li: a(href="javascript:;") Конкурсы
					li: a(href="javascript:;") Творческие встречи
					li: a(href="javascript:;") Конференции

			.col-sm-2
				h4 Новости
				ul
					li: a(href="javascript:;") Белоруссия
					li: a(href="javascript:;") СНГ
					li: a(href="javascript:;") Мир
					li: a(href="javascript:;") Образование
					li: a(href="javascript:;") Наука и техника
					li: a(href="javascript:;") Культура
					li: a(href="javascript:;") Общество
					li: a(href="javascript:;") Русский язык
					li: a(href="javascript:;") Народная дипломатия
					li: hr
					li: a(href="javascript:;") Все темы

			.col-sm-2
				h4 Контакты
				ul
					li: a(href="javascript:;") РЦНК в Минске
					li: a(href="javascript:;") РЦНК в Бресте
					li: a(href="javascript:;") Организации соотечественников

			.col-sm-2
				h4 Подписывайтесь:
				.footerSubscr
					button(type="submit").pull-right.btn.btn-warning: strong OK
					input(type="email", placeholder="Ваша эл.почта").form-control

				.footerSocial
					h4 И присоединяйтесь:
					.social
						a(href="javascript:;").fb
						a(href="javascript:;").vk
						a(href="javascript:;").inst

		.row
			.col-xs-12
				hr
			.col-xs-5.footInfo
				.block.err
					p.
						Нашли опечатку? #[br]
						Сообщите нам, выделив текст с ошибкой и нажав Ctrl+Enter
				.block.copy
					p Российский центр науки и культуры в Минске, Белоруссия
				.block.geo
					p 220002 Минск, ул. Коммунистическая, 86, Дом Москвы #[br]Эл. почта: #[a(href="rcnkminsk@mail.ru") rcnkminsk@mail.ru] #[br]#[a(href="javascript:;") Контактная информация]

			.col-xs-4.col-xs-offset-1.footRoss
				a(href="index.html")
					img(src="./img/icons/rs-logo-inv.svg", alt="facebook" onerror="this.onerror=null; this.src='./img/icons/rs-logo-inv.png'").pull-left
					h2 РОССОТРУДНИЧЕСТВО
					p Федеральное агентство по делам Содружества Независимых государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству

