header.hidden-xs
	.row
		.headerRegion.col-xs-12
			a(href="javascript:;").repres
				span.text Россия, Москва
				span.caret

			.represBlock.row
				img(src="./img/icons/ic-close-black-24-px.svg" onerror="this.onerror=null; this.src=\'./img/icons/ic-close-black-24-px.png\'").represCloseBtn
				.col-xs-12
					h2 Центральный аппарат
				.col-xs-12
					.media
						.media-left
							p.media-object
								img(src="./img/icons/flag/flag-ru.png")
						.media-body
							h4.media-heading Россия
							a(href="contacts_center.html", data-repres="Россия, Москва").selected Центральный аппарат в Москве
				.col-xs-12
					h2 Представительства в мире
					h3 Страны СНГ, Абхазия и Южная Осетия
				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Абхазия
							a(href="contacts_inworld_rome.html", data-repres="Абзахия, Сухум") Российский центр науки и культуры в Сухуме

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Азербайджан
							a(href="contacts_inworld_rome.html", data-repres="Азербайджан, Баку") Российский информационно-культурный центр в Баку

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Армения
							a(href="contacts_inworld_rome.html", data-repres="Армения, Ереван") Российский центр науки и культуры в Ереване


				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Белоруссия
							a(href="contacts_inworld_rome.html", data-repres="Белоруссия, Брест") Отделение Российского центра науки и культуры в Бресте
							a(href="contacts_inworld_rome.html", data-repres="Белоруссия, Минск") Российский центр науки и культуры в Минске

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Казахстан
							a(href="contacts_inworld_rome.html", data-repres="Казахстан, Астана") Российский центр науки и культуры в Астане

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Киргизия
							a(href="contacts_inworld_rome.html", data-repres="Киргизия, Бишкек") Российский центр науки и культуры в Бишкеке


				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Молдавия
							a(href="contacts_inworld_rome.html", data-repres="Молдавия, Кишинев") Российский центр науки и культуры в Кишиневе

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Таджикистан
							a(href="contacts_inworld_rome.html", data-repres="Таджикистан, Душанбе") Российский центр науки и культуры в Душанбе

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Туркмения

				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Узбекистан
							a(href="contacts_inworld_rome.html", data-repres="Узбекистан, Ташкент") Российский центр науки и культуры в Ташкенте

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Украина
							a(href="contacts_inworld_rome.html", data-repres="Украина, Одесса") Представительство в Одессе
							a(href="contacts_inworld_rome.html", data-repres="Украина, Киев") Российский центр науки и культуры в Киеве

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Южная Осетия
							a(href="contacts_inworld_rome.html", data-repres="Южная Осетия, Цхинвале") Цхинвале

				.col-xs-12
					h3 Европа
				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Австрия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Вене

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Албания
							a(href="contacts_inworld_rome.html") Представительство в Тиране

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Бельгия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Брюсселе

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Болгария
							a(href="contacts_inworld_rome.html") Российский культурно-информационный центр в Софии

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Великобритания
							a(href="contacts_inworld_rome.html") Представительство в Лондоне

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Венгрия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Будапеште

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Германия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Берлине


				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Греция
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Афинах

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Дания
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Копенгагене

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Испания
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Мадриде

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Италия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Риме

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Кипр
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Никосии

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Люксембург
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Люксембурге

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Мальта
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Валлетте


				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Польша
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Варшаве
							a(href="contacts_inworld_rome.html") Отделение Российского центра науки и культуры в Гданьске

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Португалия
							a(href="contacts_inworld_rome.html") Представительство в Лиссабоне

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Румыния
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Бухаресте

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Сербия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Белграде

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Словакия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Братиславе

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Словения
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Любляне

				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Финляндия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Хельсинки

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Франция
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Париже

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Хорватия
							a(href="contacts_inworld_rome.html") Представительство в Загребе

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Черногория
							a(href="contacts_inworld_rome.html") Представительство в Подгорице

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Чехия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Праге

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Швейцария
							a(href="contacts_inworld_rome.html") Представительство в Берне


				.col-xs-12
					h2 Азия
				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Афганистан
							a(href="contacts_inworld_rome.html") Представитель (в составе Посольства) в Кабуле

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Бангладеш
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Дакке

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Вьетнам
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Ханое

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Израиль
							a(href="contacts_inworld_rome.html") Российский культурный центр в Тель-Авиве

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Индия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Нью-Дели
							a(href="contacts_inworld_rome.html") Отделение Российского центра науки и культуры в Калькутте
							a(href="contacts_inworld_rome.html") Отделение Российского центра науки и культуры в Мумбаи
							a(href="contacts_inworld_rome.html") Отделение Российского центра науки и культуры в Тривандруме
							a(href="contacts_inworld_rome.html") Отделение Российского центра науки и культуры в Ченнаи



				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Индонезия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Джакарте

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Иордания
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Аммане

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Камбоджа
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Пномпене

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Китай
							a(href="contacts_inworld_rome.html") Российский культурный центр в Пекине

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Лаос
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры во Вьентьяне

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Ливан
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Бейруте


				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Малайзия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Куала-Лумпуре

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Монголия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Улан-Баторе

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Непал
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Катманду

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading ОАЭ
							a(href="contacts_inworld_rome.html") Представительство в Абу-Даби

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Пакистан
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Карачи

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Палестина
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Вифлееме

				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Республика Корея
							a(href="contacts_inworld_rome.html") Представительство в Сеуле

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Сирия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Дамаске

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Турция
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Анкаре

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Шри-Ланка
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Коломбо

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Япония
							a(href="contacts_inworld_rome.html") Представительство в Токио


				.col-xs-12
					h2 Америка
				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Аргентина
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Буэнос-Айресе

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Бразилия
							a(href="contacts_inworld_rome.html") Представительство в Бразилиа
							a(href="contacts_inworld_rome.html") Представительство в Сан-Паулу

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Венесуэла
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Каракасе

				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Канада
							a(href="contacts_inworld_rome.html") Представительство в Оттаве

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Куба
							a(href="contacts_inworld_rome.html") Представительство в Гаване

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Мексика
							a(href="contacts_inworld_rome.html") Представительство в Мехико


				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Никарагуа
							a(href="contacts_inworld_rome.html") Представительство в Манагуа

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Перу
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Лиме

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading США
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Вашингтоне
							a(href="contacts_inworld_rome.html") Представительство в Нью-Йорке

				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Чили
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Сантьяго


				.col-xs-12
					h2 Африка
				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Египет
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Александрии
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Каире

				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Замбия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Лусаке

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Марокко
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Рабате

				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Республика Конго
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Браззавиле

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Тунис
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Тунисе

				.col-sm-3.col-xs-12
					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading Эфиопия
							a(href="contacts_inworld_rome.html") Российский центр науки и культуры в Аддис-Абебе

					.media
						.media-left
							p.media-object
						.media-body
							h4.media-heading ЮАР
							a(href="contacts_inworld_rome.html") Представительство в Претории




			select(data-width="fit").selectpicker.lang
				option(data-content='<img src="./img/icons/flag/flag-ru.png" class="flag"><ins>Русский</ins>')
				option(data-content='<img src="./img/icons/flag/flag-en.png" class="flag"><ins>English</ins>')
				option(data-content='<img src="./img/icons/flag/flag-fr.png" class="flag"><ins>Deutch</ins>')
				option(data-content='<img src="./img/icons/flag/flag-de.png" class="flag"><ins>Français</ins>')
				option(data-content='<img src="./img/icons/flag/flag-es.png" class="flag"><ins>Espaniol</ins>')

			a(href="javascript:;").blindVersion.pull-right
				span Версия для слабовидящих

			hr
	.row
		.headerContent.col-xs-12
			.row
				.col-xs-4
					a(href="./")
						.headerLogo.pull-left
							img(src="./img/icons/rs-logo.svg", onerror="this.onerror=null; this.src='./img/icons/rs-logo.png'")

						.headerText.pull-left
							h1 Россотрудничество
							p.
								Федеральное агентство по делам Содружества Независимых государств, соотечественников,
								проживающих за рубежом, и по международному гуманитарному сотрудничеству

				.headerSubscr.col-xs-2
					p: em Подписывайтесь:
					button(type="submit").pull-right.btn.btn-warning: strong OK
					input(type="email", placeholder="Ваша эл.почта").form-control

				.headerSocial.col-xs-2
					p: em Присоединяйтесь
					.social
						a(href="javascript:;").fb
						a(href="javascript:;").vk
						a(href="javascript:;").inst
						a(href="javascript:;").yt
						a(href="javascript:;").tw

				.headerContact.col-xs-2
					p: em Обращайтесь
					h2: a(href="tel:+74993215499") +7 (499) 321-54-99
					a(href="mailto:rossotr@rs.gov.ru") rossotr@rs.gov.ru

				.headerMap.col-xs-2
					p: em Представительства в мире:
					a(href="javascript:;")
						img(src="./img/icons/map.svg", onerror="this.onerror=null; this.src='./img/icons/map.png'")


