header.hidden-xs
	.row
		.headerRegion.col-xs-12
			a(href="javascript:;").repres
				span.text Белоруссия, Минск
				span.caret

			.represBlock.row
				.col-xs-12
					.media
						.media-left
							p.media-object
								img(src="./img/icons/flag/flag_rus.png")
						.media-body
							h4.media-heading Россия
							a(href="contacts_center.html", data-repres="Россия, Москва", target="_blank") Центральный аппарат в Москве

					.media
						.media-left
							p.media-object
								img(src="./img/icons/flag/flag_belrus.png")
						.media-body
							h4.media-heading Белоруссия
							a(href="http://blr-brest.rs.gov.ru/", target="_blank", data-repres="Белоруссия, Брест") Отделение Российского центра науки и культуры в Бресте
							a(href="http://blr.rs.gov.ru/", target="_blank", data-repres="Белоруссия, Минск").selected Российский центр науки и культуры в Минске


			select(data-width="fit").selectpicker.lang
				option(data-content='<img src="./img/icons/flag/flag-ru.png" class="flag"><ins>Русский</ins>')
				option(data-content='<img src="./img/icons/flag/flag-en.png" class="flag"><ins>English</ins>')
				option(data-content='<img src="./img/icons/flag/flag-fr.png" class="flag"><ins>Deutch</ins>')
				option(data-content='<img src="./img/icons/flag/flag-de.png" class="flag"><ins>Français</ins>')
				option(data-content='<img src="./img/icons/flag/flag-es.png" class="flag"><ins>Espaniol</ins>')

			a(href="javascript:;").blindVersion.pull-right
				span Старая версия сайта

			hr

	.row
		.headerContent.col-xs-12
			.row
				.col-xs-4
					.headerLogo.pull-left
						a(href="index_var2.html")
							img(src="./img/icons/rs-logo.svg", onerror="this.onerror=null; this.src='./img/icons/rs-logo.png'")

					.headerText.pull-left
						h1 Российский центр #[br]науки и культуры
						p Представительство Россотрудничества в Минске

				.headerSubscr.col-xs-2
					p: em Подписывайтесь:
					button(type="submit").pull-right.btn.btn-warning: strong OK
					input(type="email", placeholder="Ваша эл.почта").form-control

				.headerSocial.col-xs-2
					p: em Присоединяйтесь:
					.social
						a(href="javascript:;").fb
						a(href="javascript:;").vk
						a(href="javascript:;").inst

				.headerContact.col-xs-2
					p: em Обращайтесь:
					h2: a(href="tel:+375173284958") +375-17 328-49-58
					a(href="mailto:rcnkminsk@mail.ru") rcnkminsk@mail.ru

				.headerMap.col-xs-2
					p: em Другие представительства:
					a(href="javascript:;")
						img(src="./img/icons/map.svg", onerror="this.onerror=null; this.src='./img/icons/map.png'")



