- var nav = {'О Россотрудничестве': 'about.html', 'Деятельность': 'activity.html', 'Анонсы': 'anons.html', 'Новости': 'news.html', 'Контакты': 'contacts.html'}

// phone-menu
nav.navbar.navbar-default.navbar-fixed-top.visible-xs
	.container
		.navbar-header
			button(type="button" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false").navbar-toggle.collapsed
				img(src="./img/icons/ic-menu.svg", onerror="this.onerror=null; this.src='./img/icons/ic-menu.png'").menu
				img(src="./img/icons/ic-close-black-24-px.svg", onerror="this.onerror=null; this.src='./img/icons/ic-close-black-24-px.png'").closeMenu
				span.sr-only Toggle navigation

			a(href="./").logo
				img(src="./img/icons/rs-logo-white.svg", onerror="this.onerror=null; this.src='./img/icons/rs-logo-white.png'")

			a(href="javascript:;").navbar-brand Россотрудничество

			a(href="javascript:;").search
				img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

			.searchField
				.input-group
					input(type="text").form-control
					span.input-group-btn
						button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")

		.collapse.navbar-collapse#navbar-collapsed
			include _sidemenu
			p.represent: a(href="represent.html") Сайты представительств

			.lang
				p Язык
				a.active: img(src="./img/icons/flag/flag_ru.png").flag
				a: img(src="./img/icons/flag/flag_en.png").flag
				a: img(src="./img/icons/flag/flag_de.png").flag
				a: img(src="./img/icons/flag/flag_fr.png").flag
				a: img(src="./img/icons/flag/flag_es.png").flag
