.scrollbar
	p.
		Несмотря на непостоянство выработки электроэнергии ВЭС, современные энергосистемы достаточно гибки, имеют существенный запас мощности, их оборудование позволяет автоматически сглаживать возникающие неравномерности в выработке. Существенные проблемы в энергосистеме возможны, когда доля ветроэнергетики и других нерегулируемых ВИЭ начинает превышать 20% мощности энергосистемы. Тогда возникает необходимость ввода дополнительных регулирующих мощностей.