nav.navbar.navbar-default
	ul.nav.navbar-nav
		li
			a(href="about.html") О Россотрудничестве
			ul
				li
					a(href="about_programs.html") Государственные программы
					ul
						li
							a(href="about_programs_strategy.html") Стратегические коммуникации российского содействия международному развитию
						li
							a(href="about_programs_sng.html") Межгосударственная программа инновационного сотрудничества государств-участников СНГ
						li
							a(href="about_programs_newGen.html") «Новое поколение»: ознакомительные поездки в Россию для молодых представителей политических, общественных, научных и деловых кругов иностранных государств
						li
							a(href="about_programs_settlers.html") Содействие добровольному переселению в Российскую Федерацию соотечественников, проживающих за рубежом
						li
							a(href="about_programs_extpol.html") Внешнеполитическая деятельность
						li
							a(href="about_programs_rulang.html") Русский язык

				li
					a(href="about_structure.html") Структура
				li
					a(href="about_manage.html") Руководство
				li
					a(href="about_history.html") История
				li
					a(href="about_partners.html") Партнеры
		li
			a(href="activity.html") Деятельность
			ul
				li: a(href="javascript:;") Содействие международному развитию
				li: a(href="javascript:;") Общественная дипломатия
				li: a(href="javascript:;") Продвижение русской культуры
				li: a(href="javascript:;") Поддержка соотечественников
				li: a(href="javascript:;") Укрепление позиций русского языка
				li: a(href="javascript:;") Образование и наука
				li: a(href="javascript:;") Сохранение историко-мемориальных памятников и мест погребения
				li: a(href="javascript:;") Международные связи субъектов РФ
				li: a(href="javascript:;") Интеграция стран СНГ
		li: a(href="anons.html") Анонсы
		li: a(href="news.html") Новости
		li: a(href="contacts.html") Контакты

