
ul.nav.navbar-nav
	li
		a(href="about.html") О Россотрудничестве
		ul
			li
				a(href="about_programs.html") Государственные программы
				ul
					li
						a(href="about_programs_strategy.html") Стратегические коммуникации российского содействия международному развитию
					li
						a(href="about_programs_sng.html") Межгосударственная программа инновационного сотрудничества государств-участников СНГ
					li
						a(href="about_programs_newGen.html") «Новое поколение»: ознакомительные поездки в Россию для молодых представителей политических, общественных, научных и деловых кругов иностранных государств
					li
						a(href="about_programs_settlers.html") Содействие добровольному переселению в Российскую Федерацию соотечественников, проживающих за рубежом
					li
						a(href="about_programs_extpol.html") Внешнеполитическая деятельность
					li
						a(href="about_programs_rulang.html") Русский язык

			li
				a(href="about_structure.html") Структура
			li
				a(href="about_manage.html") Руководство
			li
				a(href="about_history.html") История
			li
				a(href="about_partners.html") Партнеры
	li
		a(href="activity.html") Деятельность
		ul
			li: a(href="activity_worldSupport.html") Содействие международному развитию
			li: a(href="activity_diplomacy.html") Общественная дипломатия
			li: a(href="activity_russianCulture.html") Продвижение русской культуры
				ul
					li
						a(href="activity_russianCulture_.html") 25 лет Содружеству Независимых Государств
					li
						a(href="activity_russianCulture_.html") 25 лет Содружеству Независимых Государств
					li
						a(href="activity_russianCulture_ruCinema.html") Год российского кино
					li
						a(href="activity_russianCulture_.html") 90 лет народной дипломатии
					li
						a(href="activity_russianCulture_.html") 50-летие первого выхода человека в открытый космос
					li
						a(href="activity_russianCulture_.html") Посольство мастерства
					li
						a(href="activity_russianCulture_.html") Год литературы
					li
						a(href="activity_russianCulture_.html") Год России в Монако
					li
						a(href="activity_russianCulture_.html") 70-летие Победы в Великой Отечественной войне
					li
						a(href="activity_russianCulture_.html") 175-летие со дня рождения П. И. Чайковского
					li
						a(href="activity_russianCulture_.html") 1000-летие преставления святого равноапостольного князя Владимира — Крестителя Руси
					li
						a(href="activity_russianCulture_.html") День семьи, любви и верности
					li
						a(href="activity_russianCulture_.html") 700-летие со дня рождения преподобного Сергия Радонежского
					li
						a(href="activity_russianCulture_.html") 200-летие со дня рождения М. Ю. Лермонтова
					li
						a(href="activity_russianCulture_.html") Дружба Народов
					li
						a(href="activity_russianCulture_.html") 100-летие начала Первой мировой войны
					li
						a(href="activity_russianCulture_.html") Фотовыставка «Гран-при по-русски»
					li
						a(href="activity_russianCulture_.html") Год России в Нидерландах и Нидерландов в России
					li
						a(href="activity_russianCulture_.html") Год Германии в России и России в Германии
					li
						a(href="activity_russianCulture_.html") Год Испании в России и России в Испании
					li
						a(href="activity_russianCulture_.html") Год России в Италии
					li
						a(href="activity_russianCulture_.html") Год китайского языка в России
					li
						a(href="activity_russianCulture_.html") Год России во Франции и Год Франции в России
					li
						a(href="activity_russianCulture_.html") Год Болгарии в России

			li: a(href="activity_comrades.html") Поддержка соотечественников
			li: a(href="activity_rulangSupport.html") Укрепление позиций русского языка
			li: a(href="activity_education.html") Образование и наука
			li: a(href="activity_cemetery.html") Сохранение историко-мемориальных памятников и мест погребения
			li: a(href="activity_relations.html") Международные связи субъектов РФ
			li: a(href="activity_sng.html") Интеграция стран СНГ
	li: a(href="anons.html") Анонсы
	li: a(href="news.html") Новости
	li: a(href="contacts.html") Контакты


