include _mixins

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		block title

		block css
			link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|PT+Sans+Narrow:400,700|PT+Serif:400,400italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
			link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")

			// Элементы форм  http://silviomoreto.github.io/bootstrap-select/
			link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css", rel="stylesheet")

			+styles('style.css')

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
		// Modern behaviour for old browsers:
		script(src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.5/es5-shim.min.js")
		script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js")

		block scripts
			// Элементы форм  http://silviomoreto.github.io/bootstrap-select/
			script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js" defer)

			script(src="./js/main.js" defer)
body
	block content

