@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/* http://htmlbook.ru/blog/polzovatelskie-skrollbary-v-webkit */
.scrollbar{
  p{
    max-height:150px;
    overflow-y: auto;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
  }
}

.bootstrap-select{
  width:100% !important;
}

.container{
  padding-left: 4px;
  padding-right: 4px;
}
//.container-fluid{
//  padding: 0;
//}

.readmore{
  display: block;
  font-size: $font-size-h4;
  line-height: 1em;
  text-align: right;
  margin: 10px 12px 0px;
  &.dotted{
    a{
      border-bottom:1px dotted $link-color;
    }
    margin-bottom: 35px;
  }
}

.subscribe{
  background-color:$gray-dark;
  padding: 24px;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 7px;
  h2{
    color:#fff;
    font-weight:bold;
    font-size:$font-size-h4;
    line-height:1.4em;
    margin-top: 0;
    margin-bottom: 14px;
  }
  input[type="email"]{
    line-height: 1.1;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    height: 36px;
    background:transparent;
    border-radius: 2px;
    border: solid 1px rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
  }
}

.contacts{
  margin-bottom: 150px;
  .breadcrumb{
    margin-left: 100px;
  }
  > h1{
    margin-left: 100px;
    font-size:3.4em;
    color:$orange;
    margin-bottom: 23px;
  }
  .nav-tabs {
    > li:first-child{
      margin-left: 100px;
    }
  }
  .tab-content{
    h2{
      font-size:2.57em;
      line-height: 1.1;
      margin-bottom: 14px;
      margin-top: 25px;
    }
    h3{
      font-size:2em;
      line-height: 1.1;
      margin-bottom: 14px;
      margin-top: 23px;
    }
    #map{
      max-height:560px;
    }
    .media{
      margin-bottom: 15px;
      margin-top:0px;
      .media-left{
        margin-right: 12px;
        .media-object{
          width:20px;
          min-height:12px;
          margin-left: 3px;
          margin-top: 5px;
          box-shadow: 0 1px 6px rgba(0,0,0,0.4);
          img{
            width:100%;
            display: block;
          }
        }
      }
    }
    .media-body{
      h4{
        font-weight: bold;
        line-height: 1.3;
        font-size:$font-size-large;
        margin-top: 0;
        margin-bottom: 6px;
      }
      a{
        display: block;
        font-size:$font-size-large;
        line-height: 1.1;
        margin-bottom: 10px;
      }
    }
  }
}

section{
  h1{
    color: $orange;
    font-size:1.43em;
    line-height:1em;
    margin: 12px;
  }
  article {
    background-color: #fff;
    margin-bottom: 4px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  &.anons{
    > h2{
      font-size:1.43em;
      line-height:1em;
      margin: 5px 12px 12px;
    }
    article {
      padding: 12px;
      &:hover{
        cursor:pointer;
        border: solid 1px rgba(255, 109, 0, 0.3);
        background-color: $orange-lighter;
      }
      &:active{
        border: solid 1px rgba(255, 109, 0, 0.3);
        background-color: $orange-light;
      }
      .articleImg {
        display: table-cell;
        vertical-align: top;
        padding-right: 10px;
        img {
          width: 76px;
          height: 92px;
          display: block;
        }
      }
      .articleText {
        display: table-cell;
        vertical-align: top;
        width: 10000px;
        overflow: hidden;
        zoom: 1;
        h2{
          opacity: 0.8;
          font-size: $font-size-small;
          margin-top: 0;
          margin-bottom: 4px;
          line-height: 1.0;
          color: $gray-light;
        }
        h3{
          margin-top: 13px;
          margin-bottom: 7px;
          font-size: $font-size-base;
          line-height: 1.1;
          color: $gray-darker;
        }
        h4{
          margin-top: 7px;
          margin-bottom: 0;
          opacity: 0.8;
          font-style: italic;
          font-size: $font-size-small;
          line-height: 1.0;
          color: $gray-light;
        }
        time{
          opacity: 0.8;
          font-size: $font-size-small;
          line-height: 1.0;
          color: $orange;
        }
      }
    }
  }
  &.news{
    //h1{
    //  margin-bottom: 9px;
    //}
    h2{
      font-size:1.43em;
      line-height:1em;
      margin: 15px 12px 12px;
    }
    article{
      padding: 6px;
      padding-top: 15px;
      .news{
        padding: 6px;
        &:hover{
          cursor: pointer;
          background-color:$orange-lighter;
        }
        &:active{
          background-color: $orange-light;
        }
      }
      time{
        display: block;
        padding:0 6px;
        margin-bottom: 5px;
        color: $orange;
        font-size: $font-size-h4;
        line-height: 1.3;
      }
      h2{
        margin: 8px 0;
        font-size: $font-size-small;
        font-style:italic;
        line-height: 1em;
        color: $gray-light;
      }
      p{
        color: $gray-darker;
        margin-bottom: 13px;
      }
      a{
        display: block;
        //text-align: center;
      }
      img{
        @include img-responsive;
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }
  &.projects{
    margin-bottom: 22px;
    //.col-sm-3:nth-child(n+4){
    //  display:none;
    //}
    &.block{
      article{
        p{
          font-size:$font-size-h4;
          line-height: 1.3;
          margin-top: 5px;
        }
      }
    }
    article{
      &:hover{
        cursor: pointer;
        background-color:$orange-lighter;
        border: solid 1px rgba(255, 109, 0, 0.3);
      }
      &:active{
        background-color: $orange-light;
      }
      h2{
        margin: 8px 0;
        font-size: $font-size-small;
        font-style:italic;
        line-height: 1em;
        color: $gray-light;
        padding:0 12px;
      }
      p{
        color: $gray-darker;
        margin-bottom: 13px;
        line-height: 1.1em;
        padding:0 12px;
      }
      a{
        display: block;
        text-align: center;
      }
      img{
        width:100%;
        height:auto;
      }
    }
  }
  &.content{
    padding: 0px 10px 20px;
    h1{
      margin: 15px 0 12px;
    }
    h2{
      margin-top: 12px;
      margin-bottom: 5px;
      color: $gray-darker;
    }
    h3{
      font-size:1.43em;
      margin-top: 18px;
      margin-bottom: 14px;
      color: $gray-darker;
    }
    h4{
      line-height: 1.3;
      color: $gray-darker;
      margin: 9px 0;
      font-weight:bold;
    }
    h5{
      text-align: right;
      color:$gray-light;
      line-height: 1.3;
      margin-bottom: 9px;
      font-size:$font-size-small;
    }
    p{
      line-height: 1.4;
      margin-bottom: 10px;
    }
    img{
      @include img-responsive;
    }
    .list-group{
      margin-top: 16px;
    }
    ul{
      list-style:none;
      padding: 0;
      li{
        line-height: 1.4;
        color: $gray-darker;
        margin-bottom: 10px;
        padding-left: 16px;
        position: relative;
        &::before{
          content:'—';
          position: absolute;
          left:0px;
        }
      }
    }
  }
  &.manage{
    margin-bottom: 40px;
    &.detail{
      padding: 20px 12px;
      margin-bottom: 0;

      h2{
        margin-left: 0;
        margin-right: 0;
        color: $gray-darker;
      }
      h3{
        font-size: $font-size-base;
        line-height: 1.4;
        margin:7px 0px;
        font-weight:bold;
      }
      p{
        line-height: 1.4;
        color: $gray-darker;
      }
      article{
        text-align: center;
        background:none;
        border:none;
        padding: 0;
        &:hover{
          cursor: default;
          background-color:transparent;
        }
        &:active{
          background-color: transparent;
        }
        .addInfo{
          h3{
            font-weight:normal;
          }
        }
        img{
          width:160px;
          height:160px;
          display: inline-block;
          float:none;
        }
        h2{
          color:$orange;
          font-size:1.43em;
          line-height:1em;
          margin: 15px 12px 12px;
        }
        h3{
          font-size: $font-size-base;
          line-height: 1.4;
          margin-top: 2px;
          margin-bottom: 4px;
        }
        h4{
          font-size: $font-size-base;
          font-weight:bold;
          line-height: 1.4;
          margin-top: 2px;
          margin-bottom: 4px;
          color:$gray-light;
        }
        p{
          line-height: 1.4;
          color: $gray-light;
        }
        hr{
          width:40px;
          border-color:rgba(0, 0, 0, 0.1);
        }
      }
    }
    h1{
      margin: 15px 12px 12px;
    }
    h2{
      font-size:1.43em;
      line-height:1em;
      margin: 15px 12px 12px;
    }
    article{
      padding: 12px;
      &:hover{
        cursor: pointer;
        background-color:$orange-lighter;
        border-color: rgba(255, 109, 0, 0.3);
      }
      &:active{
        background-color: $orange-light;
        border-color: rgba(255, 109, 0, 0.3);
      }
      img{
        width:100px;
        height:100px;
        margin-right: 12px;
        display: inline-block;
        float:left;
      }
      h2{
        font-size: $font-size-h4;
        line-height: 1.3;
        margin: 32px 0px 12px;
      }
      &.main{
        text-align: center;
        img{
          width:160px;
          height:160px;
          float:none;
        }
        h2{
          font-size: 1.43em;
          line-height: 1.4;
          margin-top: 7px;
          margin-bottom: 2px;
        }
        h3{
          font-size: $font-size-base;
          line-height: 1.4;
          margin-top: 2px;
          margin-bottom: 4px;
        }
        p{
          line-height: 1.4;
          color: $gray-light;
        }
      }
    }
  }
}

.grayBlock{
  background-color: #e0e0e0;
  padding-top: 20px;
  padding-bottom: 12px;
}

.bannerBlock{
  margin-bottom: 8px;
  img{
    width:100%;
    height:auto;
  }
  a{
    position: relative;
    display: inline-block;
  }
  .bannerText{
    position: absolute;
    bottom:14px;
    padding:0 12px;
    h2{
      font-size:$font-size-base;
      margin-bottom: 4px;
      font-style: italic;
      line-height: 1.1;
      color: #ffffff;
      text-shadow: 0 2px 4px $gray-light;
    }
    p{
      font-size: 1.43em;
      line-height: 1.0;
      color: #ffffff;
      text-shadow: 0 2px 4px $gray-light;
    }
  }
}

.pollBlock{
  padding: 12px;
  background-color:#fff;
  margin-bottom: 8px;
  .poll{
    overflow: hidden;
  }
  blockquote{
    padding: 0;
    border:0;
    p{
      font-size: 20px;
      line-height: 1.2;
      color: #000000;
      margin-top: 25px;
      margin-bottom: 15px;
      font-family: $font-family-serif;
    }
    footer{
      text-align: right;
      font-style:italic;
      font-size: $font-size-h4;
      line-height: 1.3;
      color: $gray-light;
      background:transparent;
      padding: 0;
      &:before{
        content:'';
      }
    }
  }
  table{
    margin: 0;
    border-collapse: separate;
    border-spacing: 5px 10px;
    tbody{
      > tr{
        > th{
          border:none;
          line-height: 24px;
          color: $gray-light;
          text-align: right;
          width:40px;
          font-weight:normal;
          padding: 2px 8px;
        }
        > td{
          border:none;
          font-size: $font-size-h4;
          line-height: 24px;
          color: $gray-darker;
          background-color: #f5f5f5;
          padding: 2px 0px;
          position: relative;
          span{
            position: absolute;
            left:0px;
            top:0px;
            bottom:0px;
            z-index:0;
            display: inline-block;
            background-color: #e0e0e0;
          }
          p{
            text-indent: 10px;
            position: relative;
            z-index:1;
            margin: 0;
          }
        }
      }
    }
  }

  h2{
    font-size: $font-size-base;
    line-height: 1.1;
    color: $orange;
    margin-top: 7px;
    margin-bottom: 13px;
  }
  p{
    font-size: $font-size-h4;
    line-height: 1.3;
    color: #000000;
    margin-bottom: 10px;
  }
  .seemore{
//display: none;
    text-align: right;
    font-size:$font-size-h4;
    line-height:1.3em;
  }
}

header{
  .headerRegion{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .flag{
      width:20px;
      height:12px;
    }
    .blindVersion{
      padding: 8px 0px 8px 30px;
      display: inline-block;
      line-height: 1.1;
      color: $gray-light;
      background-image: url('../img/icons/ic-glasses.svg');
      background-repeat:no-repeat;
      background-position: left center;
      span{
        display: inline-block;
        border-bottom:1px dotted $gray-lighter;
      }
    }
  }
  .headerContent{
    padding-top: 22px;
    padding-bottom: 20px;
    .pull-left{
      + .pull-left{
        margin-left: 25px;
      }
      p{
        color: $gray-light;
        line-height:1.1em;
        margin-top: 5px;
        margin-bottom: 10px;
      }
      &.headerLogo{
        a{
          display: inline-block;
          img{
            width:63px;
            height:63px;
          }
        }
      }
      &.headerText{
        width:290px;
        h1{
          font-family: $font-family-narrow;
          font-weight:bold;
          font-size: 2em;
          line-height: 1.1;
          letter-spacing: 1.7px;
          color: #000000;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 3px;
        }
        p{
          font-size: $font-size-small;
          line-height: 1.2;
          margin: 0;
        }
      }
      &.headerSubscr{
        width:180px;
        .form-control{
          display: inline-block;
          width:125px;
        }
      }
      &.headerSocial{
        .social{
          a{
            &:first-child{
              margin-left: 0;
            }
            display: inline-block;
            width:28px;
            height:28px;
            margin:0 6px;
            text-indent: -9999px;
            background-size: 100%;
            background-repeat:no-repeat;
            background-position: center;
            &.fb{
              background-image: url('../img/icons/social/fb.svg');
              &:hover{
                background-image: url('../img/icons/social/fb-hover.svg');
              }
            }
            &.vk{
              background-image: url('../img/icons/social/vk.svg');
              &:hover{
                background-image: url('../img/icons/social/vk-hover.svg');
              }
            }
            &.inst{
              background-image: url('../img/icons/social/inst.svg');
              &:hover{
                background-image: url('../img/icons/social/inst-hover.svg');
              }
            }
            &.yt{
              background-image: url('../img/icons/social/yt.svg');
              &:hover{
                background-image: url('../img/icons/social/yt-hover.svg');
              }
            }
            &.tw{
              background-image: url('../img/icons/social/tw.svg');
              &:hover{
                background-image: url('../img/icons/social/tw-hover.svg');
              }
            }
          }
        }
      }
      &.headerContact{
        h2{
          font-size: $font-size-large;
          line-height: 1.3;
          margin-top: 0;
          margin-bottom: 5px;
          a{
            color: $gray-darker;
          }
        }
        a{
          font-size: $font-size-large;
          line-height: 1.3;
        }
      }
      &.headerMap{}
    }
  }
}


.bootstrap-select.btn-group{
  &.lang{
    .btn-default.dropdown-toggle{
      .filter-option{
        border:none;
      }
    }
  }
  margin-right: 20px;
  &:focus{
    outline: none;
  }
  &.open{
    .btn-default.dropdown-toggle{
      box-shadow: none !important;
      .caret{
        border-bottom: 4px dashed;
        border-bottom: 4px solid \9;
        border-top: none;
        border-top: none \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }
    }
  }
  .dropdown-menu{
    margin: 0;
    padding: 0;
    li{
      a{
        line-height:28px;
        padding: 3px 10px;
        &:hover,
        &:focus{
          background-color: rgba(0, 0, 0, 0.1);
          outline: none;
        }
        img{
          margin-right: 7px;
        }
      }
      ins{
        text-decoration: none;
      }
    }
  }
  .btn-default.dropdown-toggle{
    padding: 7px 10px;
    background-color:transparent;
    border-color:transparent;
    line-height: 1.1;
    color: $gray-light;
    &:focus{
      outline: none !important;
    }
    &:active{
      box-shadow: none !important;
    }
    .filter-option{
      width:auto;
      height:16px;
      display: inline-block;
      border-bottom:1px dotted $gray-lighter;
      img{
        display:inline-block;
        margin-top: -2px;
        margin-right: 5px;
      }
    }
    ins{
      display: inline-block;
      text-decoration: none;
      border-bottom:1px dotted $gray-lighter;
    }
  }
}

footer{
  background-color:$gray-dark;
  padding: 16px;
  padding-bottom: 30px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.7);
  &.visible-xs{
    text-align: center;
  }
  h4{
    color:#fff;
    margin-top: 8px;
    margin-bottom: 20px;
    line-height:normal;
  }
  hr{
    border-color: rgba(255, 255, 255, 0.2);
  }
  .social{
    a{
      display: inline-block;
      width:28px;
      height:28px;
      margin:0 6px;
      text-indent: -9999px;
      background-size: 100%;
      background-repeat:no-repeat;
      background-position: center;
      &.fb{
        background-image: url('../img/icons/social/fb-white.svg');
        &:hover{
          background-image: url('../img/icons/social/fb-white-hover.svg');
        }
      }
      &.vk{
        background-image: url('../img/icons/social/vk-white.svg');
        &:hover{
          background-image: url('../img/icons/social/vk-white-hover.svg');
        }
      }
      &.inst{
        background-image: url('../img/icons/social/inst-white.svg');
        &:hover{
          background-image: url('../img/icons/social/inst-white-hover.svg');
        }
      }
      &.yt{
        background-image: url('../img/icons/social/yt-white.svg');
        &:hover{
          background-image: url('../img/icons/social/yt-white-hover.svg');
        }
      }
      &.tw{
        background-image: url('../img/icons/social/tw-white.svg');
        &:hover{
          background-image: url('../img/icons/social/tw-white-hover.svg');
        }
      }
    }
  }
}




// small devices
@media (max-width: $screen-sm-min) {
  body{
    padding-top: 70px;
  }
  //section{
  //  &.news{
  //    &.col-xs-12{
  //      padding-left: 0;
  //      padding-right: 0;
  //    }
  //  }
  //}
}


// 1170px and up
@media (min-width: $screen-lg-min) {
  .readmore{
    text-align: center;
  }

  section{
    article{
      margin-bottom: 16px;
      .articleText{
        padding: 20px;
      }
    }
    h1{
      font-size:$font-size-h1;
      margin: 15px 0px 21px;
      line-height: 1.2;
    }
    &.anons{
      h2 {
        font-size: 2.57em;
        line-height: 1.1;
        margin: 0px 0px 25px;
      }
      article{
        padding: 0;
        .articleImg{
          padding: 0;
          img{
            width:176px;
            height:184px;
          }
        }
        .articleText{
          h2{
            font-size: $font-size-h4;
            line-height: 1.1;
            width:250px;
            display: inline-block;
            min-height:34px;
          }
          time{
            font-size: $font-size-h4;
            line-height: 1.1;
            float:right;
            width:100px;
            text-align: right;
          }
          h3{
            font-size: $font-size-h4;
            margin-top: 17px;
            line-height: 1.3;
          }
          h4{
            font-size: $font-size-base;
            line-height: 1.1;
          }
        }
      }
    }
    &.news{
      //padding: 0;
      margin-bottom: 80px;
      h2{
        font-size:2.57em;
        line-height: 1.1;
        margin: 20px 0px 25px;
      }
      article{
        padding: 12px 8px;
        time{
          padding: 0px 12px;
          margin-bottom: 8px;
          display: inline-block;
        }
      }
      .news{
        padding: 8px 12px;
        h2{
          font-size: $font-size-base;
          margin-top: 0px;
          margin-bottom: 6px;
        }
        p{
          font-size: $font-size-h4;
          line-height: 1.3;
          margin-bottom: 0;
        }

      }
    }
    &.projects{
      &.block{
        margin-bottom: 120px;
        h2{
          font-size:2.57em;
          margin-bottom: 29px;
          line-height: 1.1;
        }
        article{
          p{
            font-size:1.43em;
            line-height: 1.2;
            padding: 16px 16px 0px;
            margin-top: 0;
          }
        }
      }
      article{
        height:300px;
        h2{
          font-size: $font-size-base;
          line-height: 1.1;
        }
        p{
          font-size: $font-size-h4;
          line-height: 1.3;
        }
        img{
          width:100%;
          height:188px;
        }
      }
    }
    &.content{
      margin-bottom: 70px;
      padding: 0;
      h1{
        font-size:3.42em;
        margin: 10px 0 21px;
      }
      h2{
        font-size:3.71em;
        line-height: 1.2;
      }
      h3{
        font-size:2.57em;
        line-height: 1.1;
        margin-top: 14px;
        margin-bottom: 22px;
      }
      h4{
        font-size:1.71em;
        line-height: 1.3;
        font-weight:normal;
        margin-top: 25px;
        margin-bottom: 12px;
      }
      h5{
        line-height: 1.1;
        font-size:$font-size-h5;
        margin-bottom: 19px;
      }
      p{
        font-size:$font-size-large;
        line-height: 1.3;
        margin-bottom: 15px;
      }
      img{
        max-width:100%;
        margin-bottom: 12px;
      }
      ul{
        li{
          font-size:$font-size-large;
          line-height: 1.6;
        }
      }
      article{
        &.card{
          display: table;
          width:100%;
          margin-bottom: 20px;
          border: solid 1px rgba(0, 0, 0, 0.1);
          &:hover{
            border: solid 1px rgba(255, 109, 0, 0.3);
            background-color:$orange-lighter;
          }
          &:focus{
            border: solid 1px rgba(255, 109, 0, 0.3);
            background-color:$orange-light;
          }
          a{
            display: table-cell;
            width:212px;
            height:224px;
            img{
              display: inline-block;
            }
          }
          p{
            width:auto;
            height:224px;
            padding: 0px 20px;
            font-size:1.43em;
            line-height: 1.2;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
    &.manage{
      margin-bottom: 120px;
      h1{
        margin: 15px 0;
        font-size:3.43em;
        line-height: 1.2;
      }
      h2{
        margin: 35px 0 25px;
        font-size:2.57em;
        line-height: 1.1;
      }
      &.block{
        article{
          padding: 20px;
          &.main{
            padding: 40px 115px;
            img{
              width:240px;
              height:240px;
            }
            h2{
              margin-top: 12px;
              font-size:2.28em;
              line-height: 1.3;
            }
            h3{
              margin-bottom: 16px;
              font-size:$font-size-large;
              line-height: 1.3;
            }
            p{
              font-size:$font-size-large;
              line-height: 1.3;
            }
          }
          img{
            width:192px;
            height:192px;
            margin-right: 20px;
          }
          h2{
            font-size:2.28em;
            line-height: 1.3;
            margin-top: 56px;
          }
        }
      }
      &.detail{
        padding: 0;
        p{
          font-size:$font-size-large;
          line-height: 1.6;
          margin-bottom: 10px;
        }
        h3{
          font-size:1.71em;
          line-height: 1.3;
          margin-top: 20px;
          margin-bottom: 12px;
          font-weight:normal;
        }
        article{
          .addInfo{
            padding: 0px 100px;
            h3{
              font-size:1.71em;
              line-height: 1.2;
              margin-top: 7px;
              margin-bottom: 16px;
              font-weight:normal;
            }
            h4{
              font-size:$font-size-large;
              line-height: 1.3;
              margin-bottom: 8px;
            }
            p{
              font-size:$font-size-large;
              line-height: 1.3;
            }
            hr{
              margin-top: 25px;
              margin-bottom: 20px;
              width:120px;
            }
          }
          img{
            width:360px;
            height:360px;
          }
          h2{
            font-size:3.43em;
            line-height: 1.2;
            margin-top: 26px;
            margin-bottom: 7px;
          }

        }
      }

    }
  }

  .bannerBlock{
    height:400px;
    img{
      height:400px;
    }
    .bannerText{
      padding: 16px 250px 16px 35px;
      h2{
        font-size: 20px;
        line-height: 1.1;
        color: rgba(255, 255, 255, 0.7);
        text-shadow: 0 2px 4px $gray-light;
      }
      p{
        font-size: 2.29em;
        line-height: 1.0;
        color: #ffffff;
        text-shadow: 0 2px 4px $gray-light;
      }
    }
  }
  .pollBlock{
    height:400px;
    padding-left: 20px;
    padding-right: 20px;
    .poll{
      height:255px;
      margin: 0;
    }
    blockquote{
      p{
        margin-top: 85px;
      }
    }
    h2{
      font-size: $font-size-h4;
    }
    p{
      font-size: 1.43em;
      line-height: 1.2;
    }
  }

  footer{
    padding-top: 26px;
    padding-bottom: 40px;
    h4{
      font-weight:bold;
    }
    ul{
      list-style-type: none;
      padding: 0;
      padding-top: 5px;
      margin-bottom: 20px;
      > li{
        margin-bottom: 15px;
        > a{
          color:#fff;
          line-height: 1.1;
          color: rgba(255, 255, 255, 0.7);
        }
        > hr{
          margin: 0;
        }
      }
    }

    .footerSubscr{
      width:180px;
      margin-bottom: 45px;
      .form-control{
        display: inline-block;
        width:125px;
        border: solid 1px rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.3);
      }
    }

    .footerSocial{
      .social{
        a{
          margin: 0px 4px;
        }
      }
    }

    .footInfo{
      margin-top: 20px;
      .block{
        background-position: left top;
        background-size:20px 20px;
        background-repeat:no-repeat;
        padding-left: 35px;
        margin-bottom: 15px;
        &.err{
          background-image:url("../img/icons/ic-error-outline-black-24-px.svg");
        }
        &.copy{
          background-image:url("../img/icons/ic-copyright-black-24-px.svg");
        }
        &.geo{
          background-image:url("../img/icons/ic-pin-drop-black-24-px.svg");
        }
      }
    }

    .footGov{
      a{
        color:inherit;
        display: block;
        margin-top: 20px;
        img{
          margin-bottom: 15px;
          height:90px;
        }
      }
      span{
        display: block;
      }
    }
  }
}


@media (min-width: 1400px) {
  .col-max-1, .col-max-2, .col-max-3, .col-max-4, .col-max-5, .col-max-6, .col-max-7, .col-max-8, .col-max-9, .col-max-10, .col-max-11, .col-max-12 {
    float: left; }
  .col-max-1 {
    width: 8.33333%; }
  .col-max-2 {
    width: 16.66667%; }
  .col-max-3 {
    width: 25%; }
  .col-max-4 {
    width: 33.33333%; }
  .col-max-5 {
    width: 41.66667%; }
  .col-max-6 {
    width: 50%; }
  .col-max-7 {
    width: 58.33333%; }
  .col-max-8 {
    width: 66.66667%; }
  .col-max-9 {
    width: 75%; }
  .col-max-10 {
    width: 83.33333%; }
  .col-max-11 {
    width: 91.66667%; }
  .col-max-12 {
    width: 100%; }
  .col-max-pull-0 {
    right: auto; }
  .col-max-pull-1 {
    right: 8.33333%; }
  .col-max-pull-2 {
    right: 16.66667%; }
  .col-max-pull-3 {
    right: 25%; }
  .col-max-pull-4 {
    right: 33.33333%; }
  .col-max-pull-5 {
    right: 41.66667%; }
  .col-max-pull-6 {
    right: 50%; }
  .col-max-pull-7 {
    right: 58.33333%; }
  .col-max-pull-8 {
    right: 66.66667%; }
  .col-max-pull-9 {
    right: 75%; }
  .col-max-pull-10 {
    right: 83.33333%; }
  .col-max-pull-11 {
    right: 91.66667%; }
  .col-max-pull-12 {
    right: 100%; }
  .col-max-push-0 {
    left: auto; }
  .col-max-push-1 {
    left: 8.33333%; }
  .col-max-push-2 {
    left: 16.66667%; }
  .col-max-push-3 {
    left: 25%; }
  .col-max-push-4 {
    left: 33.33333%; }
  .col-max-push-5 {
    left: 41.66667%; }
  .col-max-push-6 {
    left: 50%; }
  .col-max-push-7 {
    left: 58.33333%; }
  .col-max-push-8 {
    left: 66.66667%; }
  .col-max-push-9 {
    left: 75%; }
  .col-max-push-10 {
    left: 83.33333%; }
  .col-max-push-11 {
    left: 91.66667%; }
  .col-max-push-12 {
    left: 100%; }
  .col-max-offset-0 {
    margin-left: 0%; }
  .col-max-offset-1 {
    margin-left: 8.33333%; }
  .col-max-offset-2 {
    margin-left: 16.66667%; }
  .col-max-offset-3 {
    margin-left: 25%; }
  .col-max-offset-4 {
    margin-left: 33.33333%; }
  .col-max-offset-5 {
    margin-left: 41.66667%; }
  .col-max-offset-6 {
    margin-left: 50%; }
  .col-max-offset-7 {
    margin-left: 58.33333%; }
  .col-max-offset-8 {
    margin-left: 66.66667%; }
  .col-max-offset-9 {
    margin-left: 75%; }
  .col-max-offset-10 {
    margin-left: 83.33333%; }
  .col-max-offset-11 {
    margin-left: 91.66667%; }
  .col-max-offset-12 {
    margin-left: 100%; } 
}



/* ---- Isotope layout ---- */
.grid .grid-item {
  float: left;
  width: 100px;
  height: 100px;
  background: #0D8;
  border: 2px solid #333;
  border-color: rgba(0, 0, 0, 0.7);
}
.grid .grid-item--width2 {
  width: 200px;
}
.grid .grid-item--height2 {
  height: 200px;
}
/* ---- Isotope layout-fluid ---- */
.grid-fluid .grid-item,
.grid-fluid .grid-sizer {
  width: 20%;
  /* 5 columns, percentage width */
}
.grid-fluid .grid-item {
  float: left;
  height: 100px;
  background: #0D8;
  border: 2px solid #333;
  border-color: rgba(0, 0, 0, 0.7);
}
.grid-fluid .grid-item--width2 {
  width: 40%;
}
.grid-fluid .grid-item--height2 {
  height: 200px;
}

/* ---- Isotope layout image-fluid ---- */
/* needs imagesloaded.pkgd.min.js
http://imagesloaded.desandro.com/*/
.grid-img-fluid .grid-sizer,
.grid-img-fluid .grid-item {
  width: 33.333%;
}
.grid-img-fluid .grid-item {
  float: left;
}
.grid-img-fluid .grid-item img {
  display: block;
  max-width: 100%;
}
/* ---- Isotope Sorting ---- */
.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}
.element-item > * {
  margin: 0;
  padding: 0;
}
.element-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}
.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}
.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}
.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}
.element-item.alkali {
  background: #F00;
  background: #ff0000;
}
.element-item.alkaline-earth {
  background: #F80;
  background: #ff9900;
}
.element-item.lanthanoid {
  background: #FF0;
  background: #ccff00;
}
.element-item.actinoid {
  background: #0F0;
  background: #33ff00;
}
.element-item.transition {
  background: #0F8;
  background: #00ff66;
}
.element-item.post-transition {
  background: #0FF;
  background: #00ffff;
}
.element-item.metalloid {
  background: #08F;
  background: #0066ff;
}
.element-item.diatomic {
  background: #00F;
  background: #3300ff;
}
.element-item.halogen {
  background: #F0F;
  background: #cc00ff;
}
.element-item.noble-gas {
  background: #F08;
  background: #ff0099;
}