extends includes/template

block title
	title mainpage


block content
	.container
		include includes/_header

		// phone-menu
		nav.navbar.navbar-default.navbar-fixed-top.visible-sm.visible-xs
			.container
				.navbar-header
					button(type="button" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false").navbar-toggle.collapsed
						img(src="./img/icons/ic-menu.svg", onerror="this.onerror=null; this.src='./img/icons/ic-menu.png'").menu
						img(src="./img/icons/ic-close-black-24-px.svg", onerror="this.onerror=null; this.src='./img/icons/ic-close-black-24-px.png'").closeMenu
						span.sr-only Toggle navigation

					a(href="./").logo
						img(src="./img/icons/rs-logo-white.svg", onerror="this.onerror=null; this.src='./img/icons/rs-logo-white.png'")

					a(href="./").navbar-brand Россотрудничество

					a(href="javascript:;").search
						img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

					.searchField
						.input-group
							input(type="text").form-control
							span.input-group-btn
								button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")

				.collapse.navbar-collapse#navbar-collapsed
					ul.nav.navbar-nav
						li.open
							a(href="about.html") О Россотрудничестве
							ul
								li.open
									a(href="about_programs.html") Государственные программы
									ul
										li: a(href="about_programs_strategy.html") Стратегические коммуникации российского содействия международному развитию
										li: a(href="about_programs_strategy.html") Межгосударственная программа инновационного сотрудничества государств-участников СНГ
										li: a(href="about_programs_strategy.html") «Новое поколение»: ознакомительные поездки в Россию для молодых представителей политических, общественных, научных и деловых кругов иностранных государств
										li: a(href="about_programs_strategy.html") Содействие добровольному переселению в Российскую Федерацию соотечественников, проживающих за рубежом
										li: a(href="about_programs_strategy.html") Внешнеполитическая деятельность
										li.active: a(href="about_programs_rulang.html") Русский язык

								li: a(href="about_structure.html") Структура
								li: a(href="about_manage.html") Руководство
								//li: a(href="javascript:;") История
								//li: a(href="javascript:;") Партнеры
						li
							a(href="activity.html") Деятельность
							ul
								li: a(href="activity_worldSupport.html") Содействие международному развитию
								li: a(href="activity_diplomacy.html") Общественная дипломатия
								li
									a(href="activity_russianCulture.html") Продвижение русской культуры
									ul
										li: a(href="activity_russianCulture_.html") 25 лет Содружеству Независимых Государств
										li: a(href="activity_russianCulture_.html") 25 лет Содружеству Независимых Государств
										li: a(href="activity_russianCulture_ruCinema.html") Год российского кино
										li: a(href="activity_russianCulture_.html") 90 лет народной дипломатии
										li: a(href="activity_russianCulture_.html") 50-летие первого выхода человека в открытый космос
										li: a(href="activity_russianCulture_.html") Посольство мастерства
										li: a(href="activity_russianCulture_.html") Год литературы
										li: a(href="activity_russianCulture_.html") Год России в Монако
										li: a(href="activity_russianCulture_.html") 70-летие Победы в Великой Отечественной войне
										li: a(href="activity_russianCulture_.html") 175-летие со дня рождения П. И. Чайковского
										li: a(href="activity_russianCulture_.html") 1000-летие преставления святого равноапостольного князя Владимира — Крестителя Руси
										li: a(href="activity_russianCulture_.html") День семьи, любви и верности
										li: a(href="activity_russianCulture_.html") 700-летие со дня рождения преподобного Сергия Радонежского
										li: a(href="activity_russianCulture_.html") 200-летие со дня рождения М. Ю. Лермонтова
										li: a(href="activity_russianCulture_.html") Дружба Народов
										li: a(href="activity_russianCulture_.html") 100-летие начала Первой мировой войны
										li: a(href="activity_russianCulture_.html") Фотовыставка «Гран-при по-русски»
										li: a(href="activity_russianCulture_.html") Год России в Нидерландах и Нидерландов в России
										li: a(href="activity_russianCulture_.html") Год Германии в России и России в Германии
										li: a(href="activity_russianCulture_.html") Год Испании в России и России в Испании
										li: a(href="activity_russianCulture_.html") Год России в Италии
										li: a(href="activity_russianCulture_.html") Год китайского языка в России
										li: a(href="activity_russianCulture_.html") Год России во Франции и Год Франции в России
										li: a(href="activity_russianCulture_.html") Год Болгарии в России

								li: a(href="activity_comrades.html") Поддержка соотечественников
								li: a(href="activity_rulangSupport.html") Укрепление позиций русского языка
								li: a(href="activity_education.html") Образование и наука
								li: a(href="activity_cemetery.html") Сохранение историко-мемориальных памятников и мест погребения
								li: a(href="activity_relations.html") Международные связи субъектов РФ
								li: a(href="activity_sng.html") Интеграция стран СНГ
						li
							a(href="anons.html") Анонсы
							ul
								li: a(href="anons_detail.html") Кино
								li: a(href="anons_detail.html") Выставки
								li: a(href="anons_detail.html") Концерты
								li: a(href="anons_detail.html") Спектакли
								li: a(href="anons_detail.html") Конференции
								li: a(href="anons_detail.html") Семинары
								li: a(href="anons_detail.html") Конкурсы
								li: a(href="anons_detail.html") Творческие встречи
								li: a(href="anons_detail.html") Конференции
						li
							a(href="news.html") Новости
							ul
								li: a(href="news_russia.html") Россия
								li: a(href="news_sng.html") СНГ
								li: a(href="news_world.html") Мир
								li: a(href="news_edu.html") Образование
								li: a(href="news_tech.html") Наука и техника
								li: a(href="news_culture.html") Культура
								li: a(href="news_social.html") Общество
								li: a(href="news_rulang.html") Русский язык
								li: a(href="news_diplomacy.html") Народная дипломатия
								li: a(href="news_years.html") Перекрестные годы
						li
							a(href="contacts.html") Контакты
							ul
								li: a(href="contacts_center.html") Центральный аппарат
								li: a(href="contacts_inworld.html") Представительства в мире
								li: a(href="contacts_callback.html") Написать обращение

					p.represent: a(href="represent.html") Сайты представительств

					.lang
						p Язык
						a.active: img(src="./img/icons/flag/flag-ru.png").flag
						a: img(src="./img/icons/flag/flag-en.png").flag
						a: img(src="./img/icons/flag/flag-de.png").flag
						a: img(src="./img/icons/flag/flag-fr.png").flag
						a: img(src="./img/icons/flag/flag-es.png").flag

		nav.navbar.navbar-desktop.hidden-sm.hidden-xs
			.navbarLine
				.col-xs-12
					.navbar-header

						ul.nav.navbar-nav
							li.open: a(href="about.html") О Россотрудничестве
							li: a(href="activity.html") Деятельность
							li: a(href="anons.html") Анонсы
							li: a(href="news.html") Новости
							li: a(href="contacts.html") Контакты

					a(href="javascript:;").search
						img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

					.searchField
						.input-group
							input(type="text").form-control
							span.input-group-btn
								button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")

		.row
			aside.col-sm-3.hidden-xs
				nav.navbar.navbar-default
					ul.nav.navbar-nav
						li.open
							a(href="about.html") О Россотрудничестве
							ul
								li.open
									a(href="about_programs.html") Государственные программы
									ul
										li: a(href="about_programs_strategy.html") Стратегические коммуникации российского содействия международному развитию
										li: a(href="about_programs_strategy.html") Межгосударственная программа инновационного сотрудничества государств-участников СНГ
										li: a(href="about_programs_strategy.html") «Новое поколение»: ознакомительные поездки в Россию для молодых представителей политических, общественных, научных и деловых кругов иностранных государств
										li: a(href="about_programs_strategy.html") Содействие добровольному переселению в Российскую Федерацию соотечественников, проживающих за рубежом
										li: a(href="about_programs_strategy.html") Внешнеполитическая деятельность
										li.active: a(href="about_programs_rulang.html") Русский язык

								li: a(href="about_structure.html") Структура
								li: a(href="about_manage.html") Руководство
								//li: a(href="javascript:;") История
								//li: a(href="javascript:;") Партнеры
						li
							a(href="activity.html") Деятельность
							ul
								li: a(href="activity_worldSupport.html") Содействие международному развитию
								li: a(href="activity_diplomacy.html") Общественная дипломатия
								li
									a(href="activity_russianCulture.html") Продвижение русской культуры
									ul
										li: a(href="activity_russianCulture_.html") 25 лет Содружеству Независимых Государств
										li: a(href="activity_russianCulture_.html") 25 лет Содружеству Независимых Государств
										li: a(href="activity_russianCulture_ruCinema.html") Год российского кино
										li: a(href="activity_russianCulture_.html") 90 лет народной дипломатии
										li: a(href="activity_russianCulture_.html") 50-летие первого выхода человека в открытый космос
										li: a(href="activity_russianCulture_.html") Посольство мастерства
										li: a(href="activity_russianCulture_.html") Год литературы
										li: a(href="activity_russianCulture_.html") Год России в Монако
										li: a(href="activity_russianCulture_.html") 70-летие Победы в Великой Отечественной войне
										li: a(href="activity_russianCulture_.html") 175-летие со дня рождения П. И. Чайковского
										li: a(href="activity_russianCulture_.html") 1000-летие преставления святого равноапостольного князя Владимира — Крестителя Руси
										li: a(href="activity_russianCulture_.html") День семьи, любви и верности
										li: a(href="activity_russianCulture_.html") 700-летие со дня рождения преподобного Сергия Радонежского
										li: a(href="activity_russianCulture_.html") 200-летие со дня рождения М. Ю. Лермонтова
										li: a(href="activity_russianCulture_.html") Дружба Народов
										li: a(href="activity_russianCulture_.html") 100-летие начала Первой мировой войны
										li: a(href="activity_russianCulture_.html") Фотовыставка «Гран-при по-русски»
										li: a(href="activity_russianCulture_.html") Год России в Нидерландах и Нидерландов в России
										li: a(href="activity_russianCulture_.html") Год Германии в России и России в Германии
										li: a(href="activity_russianCulture_.html") Год Испании в России и России в Испании
										li: a(href="activity_russianCulture_.html") Год России в Италии
										li: a(href="activity_russianCulture_.html") Год китайского языка в России
										li: a(href="activity_russianCulture_.html") Год России во Франции и Год Франции в России
										li: a(href="activity_russianCulture_.html") Год Болгарии в России

								li: a(href="activity_comrades.html") Поддержка соотечественников
								li: a(href="activity_rulangSupport.html") Укрепление позиций русского языка
								li: a(href="activity_education.html") Образование и наука
								li: a(href="activity_cemetery.html") Сохранение историко-мемориальных памятников и мест погребения
								li: a(href="activity_relations.html") Международные связи субъектов РФ
								li: a(href="activity_sng.html") Интеграция стран СНГ
						li
							a(href="anons.html") Анонсы
							ul
								li: a(href="anons_detail.html") Кино
								li: a(href="anons_detail.html") Выставки
								li: a(href="anons_detail.html") Концерты
								li: a(href="anons_detail.html") Спектакли
								li: a(href="anons_detail.html") Конференции
								li: a(href="anons_detail.html") Семинары
								li: a(href="anons_detail.html") Конкурсы
								li: a(href="anons_detail.html") Творческие встречи
								li: a(href="anons_detail.html") Конференции
						li
							a(href="news.html") Новости
							ul
								li: a(href="news_russia.html") Россия
								li: a(href="news_sng.html") СНГ
								li: a(href="news_world.html") Мир
								li: a(href="news_edu.html") Образование
								li: a(href="news_tech.html") Наука и техника
								li: a(href="news_culture.html") Культура
								li: a(href="news_social.html") Общество
								li: a(href="news_rulang.html") Русский язык
								li: a(href="news_diplomacy.html") Народная дипломатия
								li: a(href="news_years.html") Перекрестные годы
						li
							a(href="contacts.html") Контакты
							ul
								li: a(href="contacts_center.html") Центральный аппарат
								li: a(href="contacts_inworld.html") Представительства в мире
								li: a(href="contacts_callback.html") Написать обращение


			.col-max-6.col-sm-7.col-sm-offset-1.col-xs-12
				ol.breadcrumb.hidden-xs
					li: a(href="./") Главная страница
					li: a(href="about.html") О Россотрудничестве
					li: a(href="about_programs.html") Государственные программы

				section.content
					h1 Русский язык
					p Государственные заказчики программы «Русский язык» — Минобрнауки России и Россотрудничество.
					p: strong На первом этапе (в 2016–2018) годах планируется:
					ul
						li провести комплекс научно-исследовательских работ в области функционирования, развития и изучения русского языка;
						li разработать техническое, учебно-методическое обеспечение единого электронного образовательного пространства, объединяющего ресурсы для организации обучения русскому языку и на русском языке на всех уровнях подготовки;
						li провести подготовку, переподготовку, повышение квалификации преподавателей русского языка;
						li обеспечить организационно-методическую поддержку русских школ в странах СНГ и других иностранных государствах;
						li поставить учебники, учебные пособия, научно-популярные книги и журналы по русскому языку, литературе и культуре в российские центры науки и культуры, русские школы и классы в иностранных государствах;
						li создать полноценные условия для обучения иностранных граждан русскому языку в объёмах, необходимых для их трудовой деятельности в России;
						li создать центры коллективного доступа к российским образовательным, информационно-просветительским и социокультурным ресурсам на базе российских центров науки и культуры и образовательных организаций в странах СНГ и других иностранных государствах.
					p: strong На втором этапе (в 2019–2020 годах):
					ul
						li развивать кадровый потенциал в сфере русского языка;
						li завершить формирование инфраструктуры системы открытого образования на русском языке и обучения русскому языку;
						li обеспечить широкую вариативность программ обучения русскому языку с использованием дистанционных технологий образования;
						li расширить присутствие русского языка в сети Интернет;
						li повысить популярность и престиж русского языка и образования на русском языке.

	footer.row.visible-sm.visible-xs
		.container
			.row
				.col-xs-12
					h4 Присоединяйтесь к нам #[br.visible-xs]в социальных сетях:
					.social
						a(href="javascript:;").fb
						a(href="javascript:;").vk
						a(href="javascript:;").inst
						a(href="javascript:;").yt
						a(href="javascript:;").tw

						hr
					p: img(src="./img/icons/ic-copyright-black-24-px.svg", alt="facebook" onerror="this.onerror=null; this.src='./img/icons/ic-copyright-black-24-px.png'")

					p Федеральное агентство по делам Содружества Независимых государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству, 2016


	footer.hidden-sm.hidden-xs
		.container
			.row.links
				.col-sm-2
					h4: a(href="about.html") О Россотрудничестве
					ul
						li: a(href="about_programs.html").open Государственные программы
						li: a(href="about_structure.html") Структура
						li: a(href="about_manage.html") Руководство
						//li: a(href="javascript:;") История

				.col-sm-2
					h4: a(href="activity.html") Деятельность
					ul
						li: a(href="activity_smp.html") Содействие международному развитию
						li: a(href="activity_diplomacy.html") Общественная дипломатия
						li: a(href="activity_russianCulture.html") Продвижение русской культуры
						li: a(href="activity_soot.html") Поддержка соотечественников
						li: a(href="activity_rulang.html") Укрепление позиций русского языка
						li: a(href="activity_edu.html") Образование и наука
						li: a(href="activity_cemetery.html") Сохранение историко-мемориальных памятников и мест погребения
						li: a(href="activity_international.html") Международные связи субъектов РФ
						li: a(href="activity_integration.html") Интеграция стран СНГ

				.col-sm-2
					h4: a(href="anons.html") Анонсы
					ul
						li: a(href="anons.html") Кино
						li: a(href="anons.html") Выставки
						li: a(href="anons.html") Концерты
						li: a(href="anons.html") Спектакли
						li: a(href="anons.html") Конференции
						li: a(href="anons.html") Семинары
						li: a(href="anons.html") Конкурсы
						li: a(href="anons.html") Творческие встречи
						li: a(href="anons.html") Конференции

				.col-sm-2
					h4: a(href="news.html") Новости
					ul
						li: a(href="news.html") Россия
						li: a(href="news.html") СНГ
						li: a(href="news.html") Мир
						li: a(href="news.html") Образование
						li: a(href="news.html") Наука и техника
						li: a(href="news.html") Культура
						li: a(href="news.html") Общество
						li: a(href="news.html") Русский язык
						li: a(href="news.html") Народная дипломатия
						li: hr
						li: a(href="news.html") Все темы

				.col-sm-2
					h4: a(href="contacts.html") Контакты
					ul
						li: a(href="contacts_center.html") Центральный аппарат
						li: a(href="contacts_inworld.html") Представительства в мире
						li: a(href="contacts_callback.html") Написать обращение

				.col-sm-2
					h4 Подписывайтесь:
					.footerSubscr
						button(type="submit").pull-right.btn.btn-warning: strong OK
						input(type="email", placeholder="Ваша эл.почта").form-control

					.footerSocial
						h4 И присоединяйтесь:
						.social
							a(href="javascript:;").fb
							a(href="javascript:;").vk
							a(href="javascript:;").inst
							a(href="javascript:;").yt
							a(href="javascript:;").tw

			.row
				.col-xs-12
					hr
				.col-xs-5.footInfo
					.block.err
						p.
							Нашли опечатку? #[br]
							Сообщите нам, выделив текст с ошибкой и нажав Ctrl+Enter

					.block.copy
						p.
							Федеральное агентство по делам Содружества Независимых государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству, 2016

					.block.geo
						p.
							125009, Москва, ул. Воздвиженка, д. 18/9 #[br]
							Эл. почта: #[a(href="mailto:rossotr@rs.gov.ru") rossotr@rs.gov.ru] #[br]
							#[a(href="contacts.html") Контактная информация]

				.col-xs-6.col-xs-offset-1.footGov
					.row
						.col-xs-4.text-center
							a(href="http://www.kremlin.ru/", target="_blank")
								img(src="./img/icons/kremlin-ru-logo.png", alt="Президент России")
								span Президент России

						.col-xs-4.text-center
							a(href="http://government.ru/", target="_blank")
								img(src="./img/icons/govenrment-logo.png", alt="Правительство Российской Федерации")
								span Правительство Российской Федерации

						.col-xs-4.text-center
							a(href="http://www.mid.ru/ru/home", target="_blank")
								img(src="./img/icons/mid-logo.png", alt="Министерство иностранных дел")
								span Министерство иностранных дел


