extends includes/template

block title
	title mainpage


block content
	.container
		include includes/_header
		include includes/_mainmenu

		.row
			section.manage.detail.col-xs-12
				article
					img(src="./img/manage/glebova.png", alt="Глебова")
					h2 Любовь Николаевна Глебова
					.addInfo
						h3 Руководитель Россотрудничества
						p Доктор педагогических наук, член-корреспондент Российской академии образования, действительный государственный советник РФ 1 класса
						hr
						h4 Государственные награды:
						p Медаль ордена «За заслуги перед Отечеством» II степени #[br]Орден «За заслуги перед Отечеством» IV степени

				h2 Биография
				p Родилась 7 марта 1960 года в городе Арзамасе Нижегородской области.
				h3 Образование
				p Окончила Арзамасский государственный педагогический институт им. А. П. Гайдара.
				h3 Трудовая деятельность
				p Cоветник Председателя Правительства Российской Федерации С. В. Кириенко.
				p Депутат Государственной Думы Федерального Собрания Российской Федерации.
				p Заместитель Полпреда Президента Российской Федерации в Приволжском федеральном округе.
				p Статс-секретарь — заместитель Министра здравоохранения и социального развития Российской Федерации.p Руководитель Федеральной службы по надзору в сфере образования и науки.
				p Член Совета Федерации от Пензенской области.
				p #[a(href="Указом Президента Российской Федерации от 23.03.2015 г. № 148") Указом Президента Российской Федерации от 23.03.2015 г. № 148] назначена руководителем Федерального агентства по делам Содружества Независимых Государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству.

			section.news.col-xs-12
				h2 Новости

				.row
					.col-xs-12
						article
							time 15 апреля
							.news
								a(href="newsDetail.html")
								h2 Официально
								p Любовь Глебова: «Российский центр науки и культуры в Киеве продолжает работу»

						article
							time 9 марта
							.news
								a(href="newsDetail.html")
								h2 Официально
								p Президент Сербии и руководитель Россотрудничества обсудили вопросы восстановления Храма Святого Саввы

						article
							time 11 января
							.news
								a(href="newsDetail.html")
								h2 Официально
								p Руководитель Россотрудничества Любовь Глебова: «Новый Центр российского искусства в Китае усилит взаимосвязь и взаимопонимание народов наших стран»

						article
							time 25 декабря 2015
							.news
								a(href="newsDetail.html")
								h2 90 лет народной дипломатии
								p ВОКС – Россотрудничество: история длинною в 90 лет

						article
							time 21 декабря 2015
							.news
								a(href="newsDetail.html")
								h2 Официально
								p Любовь Глебова поздравила ветеранов Союза советских обществ дружбы с Новым годом


				.row
					.col-xs-12
						p.readmore.dotted: a(href="javascript:;") Другие новости о персоне








	include includes/_footer
