extends includes/template

block title
	title mainpage


block content
	.container
		include includes/_header
		include includes/_mainmenu

		nav.navbar.navbar-desktop.hidden-xs
			.navbar-header
				ul.nav.navbar-nav
					li.open
						a(href="about.html") О Россотрудничестве
					li
						a(href="activity.html") Деятельность
					li
						a(href="anons.html") Анонсы
					li
						a(href="news.html") Новости
					li
						a(href="contacts.html") Контакты

			a(href="javascript:;").search
				img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

			.searchField
				.input-group
					input(type="text").form-control
					span.input-group-btn
						button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")


		.row
			aside.col-sm-4.hidden-xs
				nav.navbar.navbar-default
					include includes/_sidemenu
			.col-max-6.col-sm-7.col-xs-12
				ol.breadcrumb.hidden-xs
					li: a(href="./") Главная страница
					li: a(href="about.html") О Россотрудничестве
					li: a(href="about_programs.html") Государственные программы

				section.content
					h1 Русский язык
					p Государственные заказчики программы «Русский язык» — Минобрнауки России и Россотрудничество.
					p: strong На первом этапе (в 2016–2018) годах планируется:
					ul
						li провести комплекс научно-исследовательских работ в области функционирования, развития и изучения русского языка;
						li разработать техническое, учебно-методическое обеспечение единого электронного образовательного пространства, объединяющего ресурсы для организации обучения русскому языку и на русском языке на всех уровнях подготовки;
						li провести подготовку, переподготовку, повышение квалификации преподавателей русского языка;
						li обеспечить организационно-методическую поддержку русских школ в странах СНГ и других иностранных государствах;
						li поставить учебники, учебные пособия, научно-популярные книги и журналы по русскому языку, литературе и культуре в российские центры науки и культуры, русские школы и классы в иностранных государствах;
						li создать полноценные условия для обучения иностранных граждан русскому языку в объёмах, необходимых для их трудовой деятельности в России;
						li создать центры коллективного доступа к российским образовательным, информационно-просветительским и социокультурным ресурсам на базе российских центров науки и культуры и образовательных организаций в странах СНГ и других иностранных государствах.
					p: strong На втором этапе (в 2019–2020 годах):
					ul
						li развивать кадровый потенциал в сфере русского языка;
						li завершить формирование инфраструктуры системы открытого образования на русском языке и обучения русскому языку;
						li обеспечить широкую вариативность программ обучения русскому языку с использованием дистанционных технологий образования;
						li расширить присутствие русского языка в сети Интернет;
						li повысить популярность и престиж русского языка и образования на русском языке.

	include includes/_footer
