extends includes/template

block title
	title mainpage


block content
	.container
		include includes/_header

		// phone-menu
		nav.navbar.navbar-default.navbar-fixed-top.visible-xs
			.container
				.navbar-header
					button(type="button" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false").navbar-toggle.collapsed
						img(src="./img/icons/ic-menu.svg", onerror="this.onerror=null; this.src='./img/icons/ic-menu.png'").menu
						img(src="./img/icons/ic-close-black-24-px.svg", onerror="this.onerror=null; this.src='./img/icons/ic-close-black-24-px.png'").closeMenu
						span.sr-only Toggle navigation

					a(href="./").logo
						img(src="./img/icons/rs-logo-white.svg", onerror="this.onerror=null; this.src='./img/icons/rs-logo-white.png'")

					a(href="javascript:;").navbar-brand Россотрудничество

					a(href="javascript:;").search
						img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

					.searchField
						.input-group
							input(type="text").form-control
							span.input-group-btn
								button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")

				.collapse.navbar-collapse#navbar-collapsed
					ul.nav.navbar-nav
						li.open
							a(href="about.html") О Россотрудничестве
							ul
								li
									a(href="about_programs.html") Государственные программы
									ul
										li: a(href="about_programs_strategy.html") Стратегические коммуникации российского содействия международному развитию
										li: a(href="about_programs_sng.html") Межгосударственная программа инновационного сотрудничества государств-участников СНГ
										li: a(href="about_programs_newGen.html") «Новое поколение»: ознакомительные поездки в Россию для молодых представителей политических, общественных, научных и деловых кругов иностранных государств
										li: a(href="about_programs_settlers.html") Содействие добровольному переселению в Российскую Федерацию соотечественников, проживающих за рубежом
										li: a(href="about_programs_extpol.html") Внешнеполитическая деятельность
										li: a(href="about_programs_rulang.html") Русский язык

								li: a(href="about_structure.html") Структура
								li.active: a(href="about_manage.html") Руководство
								li: a(href="javascript:;") История
								li: a(href="javascript:;") Партнеры
						li
							a(href="activity.html") Деятельность
							ul
								li: a(href="activity_worldSupport.html") Содействие международному развитию
								li: a(href="activity_diplomacy.html") Общественная дипломатия
								li
									a(href="activity_russianCulture.html") Продвижение русской культуры
									ul
										li: a(href="activity_russianCulture_.html") 25 лет Содружеству Независимых Государств
										li: a(href="activity_russianCulture_.html") 25 лет Содружеству Независимых Государств
										li: a(href="activity_russianCulture_ruCinema.html") Год российского кино
										li: a(href="activity_russianCulture_.html") 90 лет народной дипломатии
										li: a(href="activity_russianCulture_.html") 50-летие первого выхода человека в открытый космос
										li: a(href="activity_russianCulture_.html") Посольство мастерства
										li: a(href="activity_russianCulture_.html") Год литературы
										li: a(href="activity_russianCulture_.html") Год России в Монако
										li: a(href="activity_russianCulture_.html") 70-летие Победы в Великой Отечественной войне
										li: a(href="activity_russianCulture_.html") 175-летие со дня рождения П. И. Чайковского
										li: a(href="activity_russianCulture_.html") 1000-летие преставления святого равноапостольного князя Владимира — Крестителя Руси
										li: a(href="activity_russianCulture_.html") День семьи, любви и верности
										li: a(href="activity_russianCulture_.html") 700-летие со дня рождения преподобного Сергия Радонежского
										li: a(href="activity_russianCulture_.html") 200-летие со дня рождения М. Ю. Лермонтова
										li: a(href="activity_russianCulture_.html") Дружба Народов
										li: a(href="activity_russianCulture_.html") 100-летие начала Первой мировой войны
										li: a(href="activity_russianCulture_.html") Фотовыставка «Гран-при по-русски»
										li: a(href="activity_russianCulture_.html") Год России в Нидерландах и Нидерландов в России
										li: a(href="activity_russianCulture_.html") Год Германии в России и России в Германии
										li: a(href="activity_russianCulture_.html") Год Испании в России и России в Испании
										li: a(href="activity_russianCulture_.html") Год России в Италии
										li: a(href="activity_russianCulture_.html") Год китайского языка в России
										li: a(href="activity_russianCulture_.html") Год России во Франции и Год Франции в России
										li: a(href="activity_russianCulture_.html") Год Болгарии в России

								li: a(href="activity_comrades.html") Поддержка соотечественников
								li: a(href="activity_rulangSupport.html") Укрепление позиций русского языка
								li: a(href="activity_education.html") Образование и наука
								li: a(href="activity_cemetery.html") Сохранение историко-мемориальных памятников и мест погребения
								li: a(href="activity_relations.html") Международные связи субъектов РФ
								li: a(href="activity_sng.html") Интеграция стран СНГ
						li
							a(href="anons.html") Анонсы
							ul
								li: a(href="anons_detail.html") Кино
								li: a(href="anons_detail.html") Выставки
								li: a(href="anons_detail.html") Концерты
								li: a(href="anons_detail.html") Спектакли
								li: a(href="anons_detail.html") Конференции
								li: a(href="anons_detail.html") Семинары
								li: a(href="anons_detail.html") Конкурсы
								li: a(href="anons_detail.html") Творческие встречи
								li: a(href="anons_detail.html") Конференции
						li
							a(href="news.html") Новости
							ul
								li: a(href="news_russia.html") Россия
								li: a(href="news_sng.html") СНГ
								li: a(href="news_world.html") Мир
								li: a(href="news_edu.html") Образование
								li: a(href="news_tech.html") Наука и техника
								li: a(href="news_culture.html") Культура
								li: a(href="news_social.html") Общество
								li: a(href="news_rulang.html") Русский язык
								li: a(href="news_diplomacy.html") Народная дипломатия
								li: a(href="news_years.html") Перекрестные годы
						li
							a(href="contacts.html") Контакты
							ul
								li: a(href="contacts_center.html") Центральный аппарат
								li: a(href="contacts_inworld.html") Представительства в мире
								li: a(href="contacts_callback.html") Написать обращение

					p.represent: a(href="represent.html") Сайты представительств

					.lang
						p Язык
						a.active: img(src="./img/icons/flag/flag_ru.png").flag
						a: img(src="./img/icons/flag/flag_en.png").flag
						a: img(src="./img/icons/flag/flag_de.png").flag
						a: img(src="./img/icons/flag/flag_fr.png").flag
						a: img(src="./img/icons/flag/flag_es.png").flag

		nav.navbar.navbar-desktop.hidden-xs
			.navbar-header
				ul.nav.navbar-nav
					li.open: a(href="about.html") О Россотрудничестве
					li: a(href="activity.html") Деятельность
					li: a(href="anons.html") Анонсы
					li: a(href="news.html") Новости
					li: a(href="contacts.html") Контакты

			a(href="javascript:;").search
				img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

			.searchField
				.input-group
					input(type="text").form-control
					span.input-group-btn
						button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")

		.row
			aside.col-sm-4.hidden-xs
				nav.navbar.navbar-default
					ul.nav.navbar-nav
						li.open
							a(href="about.html") О Россотрудничестве
							ul
								li
									a(href="about_programs.html") Государственные программы
									ul
										li: a(href="about_programs_strategy.html") Стратегические коммуникации российского содействия международному развитию
										li: a(href="about_programs_sng.html") Межгосударственная программа инновационного сотрудничества государств-участников СНГ
										li: a(href="about_programs_newGen.html") «Новое поколение»: ознакомительные поездки в Россию для молодых представителей политических, общественных, научных и деловых кругов иностранных государств
										li: a(href="about_programs_settlers.html") Содействие добровольному переселению в Российскую Федерацию соотечественников, проживающих за рубежом
										li: a(href="about_programs_extpol.html") Внешнеполитическая деятельность
										li: a(href="about_programs_rulang.html") Русский язык

								li: a(href="about_structure.html") Структура
								li.active: a(href="about_manage.html") Руководство
								li: a(href="javascript:;") История
								li: a(href="javascript:;") Партнеры
						li
							a(href="activity.html") Деятельность
							ul
								li: a(href="activity_worldSupport.html") Содействие международному развитию
								li: a(href="activity_diplomacy.html") Общественная дипломатия
								li
									a(href="activity_russianCulture.html") Продвижение русской культуры
									ul
										li: a(href="activity_russianCulture_.html") 25 лет Содружеству Независимых Государств
										li: a(href="activity_russianCulture_.html") 25 лет Содружеству Независимых Государств
										li: a(href="activity_russianCulture_ruCinema.html") Год российского кино
										li: a(href="activity_russianCulture_.html") 90 лет народной дипломатии
										li: a(href="activity_russianCulture_.html") 50-летие первого выхода человека в открытый космос
										li: a(href="activity_russianCulture_.html") Посольство мастерства
										li: a(href="activity_russianCulture_.html") Год литературы
										li: a(href="activity_russianCulture_.html") Год России в Монако
										li: a(href="activity_russianCulture_.html") 70-летие Победы в Великой Отечественной войне
										li: a(href="activity_russianCulture_.html") 175-летие со дня рождения П. И. Чайковского
										li: a(href="activity_russianCulture_.html") 1000-летие преставления святого равноапостольного князя Владимира — Крестителя Руси
										li: a(href="activity_russianCulture_.html") День семьи, любви и верности
										li: a(href="activity_russianCulture_.html") 700-летие со дня рождения преподобного Сергия Радонежского
										li: a(href="activity_russianCulture_.html") 200-летие со дня рождения М. Ю. Лермонтова
										li: a(href="activity_russianCulture_.html") Дружба Народов
										li: a(href="activity_russianCulture_.html") 100-летие начала Первой мировой войны
										li: a(href="activity_russianCulture_.html") Фотовыставка «Гран-при по-русски»
										li: a(href="activity_russianCulture_.html") Год России в Нидерландах и Нидерландов в России
										li: a(href="activity_russianCulture_.html") Год Германии в России и России в Германии
										li: a(href="activity_russianCulture_.html") Год Испании в России и России в Испании
										li: a(href="activity_russianCulture_.html") Год России в Италии
										li: a(href="activity_russianCulture_.html") Год китайского языка в России
										li: a(href="activity_russianCulture_.html") Год России во Франции и Год Франции в России
										li: a(href="activity_russianCulture_.html") Год Болгарии в России

								li: a(href="activity_comrades.html") Поддержка соотечественников
								li: a(href="activity_rulangSupport.html") Укрепление позиций русского языка
								li: a(href="activity_education.html") Образование и наука
								li: a(href="activity_cemetery.html") Сохранение историко-мемориальных памятников и мест погребения
								li: a(href="activity_relations.html") Международные связи субъектов РФ
								li: a(href="activity_sng.html") Интеграция стран СНГ
						li
							a(href="anons.html") Анонсы
							ul
								li: a(href="anons_detail.html") Кино
								li: a(href="anons_detail.html") Выставки
								li: a(href="anons_detail.html") Концерты
								li: a(href="anons_detail.html") Спектакли
								li: a(href="anons_detail.html") Конференции
								li: a(href="anons_detail.html") Семинары
								li: a(href="anons_detail.html") Конкурсы
								li: a(href="anons_detail.html") Творческие встречи
								li: a(href="anons_detail.html") Конференции
						li
							a(href="news.html") Новости
							ul
								li: a(href="news_russia.html") Россия
								li: a(href="news_sng.html") СНГ
								li: a(href="news_world.html") Мир
								li: a(href="news_edu.html") Образование
								li: a(href="news_tech.html") Наука и техника
								li: a(href="news_culture.html") Культура
								li: a(href="news_social.html") Общество
								li: a(href="news_rulang.html") Русский язык
								li: a(href="news_diplomacy.html") Народная дипломатия
								li: a(href="news_years.html") Перекрестные годы
						li
							a(href="contacts.html") Контакты
							ul
								li: a(href="contacts_center.html") Центральный аппарат
								li: a(href="contacts_inworld.html") Представительства в мире
								li: a(href="contacts_callback.html") Написать обращение


			.col-max-6.col-sm-7.col-xs-12
				ol.breadcrumb.hidden-xs
					li: a(href="./") Главная страница
					li: a(href="about.html") О Россотрудничестве
					li: a(href="about_manage.html") Руководство

				section.manage.detail
					article
						img(src="./img/manage/glebova.png", alt="Глебова")
						h2 Любовь Николаевна Глебова
						.addInfo
							h3 Руководитель Россотрудничества
							p Доктор педагогических наук, член-корреспондент Российской академии образования, действительный государственный советник РФ 1 класса
							hr
							h4 Государственные награды:
							p Медаль ордена «За заслуги перед Отечеством» II степени #[br]Орден «За заслуги перед Отечеством» IV степени

					h2 Биография
					p Родилась 7 марта 1960 года в городе Арзамасе Нижегородской области.
					h3 Образование
					p Окончила Арзамасский государственный педагогический институт им. А. П. Гайдара.
					h3 Трудовая деятельность
					p Cоветник Председателя Правительства Российской Федерации С. В. Кириенко.
					p Депутат Государственной Думы Федерального Собрания Российской Федерации.
					p Заместитель Полпреда Президента Российской Федерации в Приволжском федеральном округе.
					p Статс-секретарь — заместитель Министра здравоохранения и социального развития Российской Федерации.p Руководитель Федеральной службы по надзору в сфере образования и науки.
					p Член Совета Федерации от Пензенской области.
					p #[a(href="Указом Президента Российской Федерации от 23.03.2015 г. № 148") Указом Президента Российской Федерации от 23.03.2015 г. № 148] назначена руководителем Федерального агентства по делам Содружества Независимых Государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству.

				.row
					section.news.col-xs-12
						h2 Новости

						.row
							.col-sm-6.col-xs-12
								article
									time 15 апреля
									.news
										a(href="newsDetail.html")
										h2 Официально
										p Любовь Глебова: «Российский центр науки и культуры в Киеве продолжает работу»

							.col-sm-6.col-xs-12
								article
									time 9 марта
									.news
										a(href="newsDetail.html")
										h2 Официально
										p Президент Сербии и руководитель Россотрудничества обсудили вопросы восстановления Храма Святого Саввы

							.col-sm-6.col-xs-12
								article
									time 11 января
									.news
										a(href="newsDetail.html")
										h2 Официально
										p Руководитель Россотрудничества Любовь Глебова: «Новый Центр российского искусства в Китае усилит взаимосвязь и взаимопонимание народов наших стран»

							.col-sm-6.col-xs-12
								article
									time 25 декабря 2015
									.news
										a(href="newsDetail.html")
										h2 90 лет народной дипломатии
										p ВОКС – Россотрудничество: история длинною в 90 лет

							.col-sm-6.col-xs-12
								article
									time 21 декабря 2015
									.news
										a(href="newsDetail.html")
										h2 Официально
										p Любовь Глебова поздравила ветеранов Союза советских обществ дружбы с Новым годом


						.row
							.col-xs-12
								p.readmore.dotted: a(href="javascript:;") Другие новости о персоне








	include includes/_footer
