extends includes/template

block title
	title mainpage


block prepend css
	// Чекбоксы и радио https://github.com/flatlogic/awesome-bootstrap-checkbox
	+styles('awesome-bootstrap-checkbox.css')

block content
	.container
		include includes/_header
		include includes/_mainmenu

		.row
			.col-sm-6.col-xs-12
				section.content
					h1 Стратегические коммуникации российского содействия международному развитию
					p В рамках программы проводятся мероприятия, позволяющие поучаствовать в обсуждении актуальных вопросов содействия международному развитию (СМР) всем заинтересованным сторонам.
					h2 2014
					p В 2014 году Агентство в партнерстве с МИД России провело Заседание делового совета при Министре иностранных дел Российской Федерации на тему «Взаимодействие органов государственной власти Российской Федерации и российского бизнеса в сфере содействия международному развитию». В мероприятии приняли участие главы ведущих предпринимательских объединений России, крупнейших отечественных компаний и банков, а также представители руководства МИД, Минфина, Минэкономразвития России и других заинтересованных министерств и ведомств. Данное мероприятие послужило толчком для дальнейшего сотрудничества между государством и бизнесом по вопросам СМР.
					h2 2015
					p В соответствии с Перечнем мероприятий председательства Российской Федерации в межгосударственном объединении БРИКС в 2015-2016 гг., утвержденным Президентом Российской Федерации, Россотрудничеству поручена организация встречи в рамках БРИКС старших должностных лиц, курирующих вопросы СМР.


	include includes/_footer
