extends includes/template

block title
	title mainpage


block content
	.container
		include includes/_header
		include includes/_mainmenu

		nav.navbar.navbar-desktop.hidden-xs
			.navbar-header
				ul.nav.navbar-nav
					li.open
						a(href="about.html") О Россотрудничестве
					li
						a(href="activity.html") Деятельность
					li
						a(href="anons.html") Анонсы
					li
						a(href="news.html") Новости
					li
						a(href="contacts.html") Контакты

			a(href="javascript:;").search
				img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

			.searchField
				.input-group
					input(type="text").form-control
					span.input-group-btn
						button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")


		.row
			aside.col-sm-4.hidden-xs
				nav.navbar.navbar-default
					include includes/_sidemenu
			.col-max-6.col-sm-7.col-xs-12
				ol.breadcrumb.hidden-xs
					li: a(href="./") Главная страница
					li: a(href="about.html") О Россотрудничестве

				section.manage.block
					h1 Руководство
					article.main
						a(href="about_manage_detail.html")
							img(src="./img/manage/glebova.png", alt="Глебова")
						h2 Любовь Николаевна Глебова
						.addInfo
							h3 Руководитель Россотрудничества
							p Доктор педагогических наук, член-корреспондент Российской академии образования, действительный государственный советник РФ 1 класса

					h2 Заместители руководителя
					article
						a(href="about_manage_detail.html")
							img(src="./img/manage/guzhelya.png", alt="Гужеля")
						h2 Дмитрий Юрьевич #[br]Гужеля

					article
						a(href="about_manage_detail.html")
							img(src="./img/manage/zhivihina.png", alt="Живихина")
						h2 Ирина Борисовна #[br]Живихина

					article
						a(href="about_manage_detail.html")
							img(src="./img/manage/kruppo.png", alt="Круппо")
						h2 Сергей Маратович #[br]Круппо

					article
						a(href="about_manage_detail.html")
							img(src="./img/manage/radkov.png", alt="Радьков")
						h2 Александр Васильевич #[br]Радьков

					article
						a(href="about_manage_detail.html")
							img(src="./img/manage/frolov.png", alt="Фролов")
						h2 Алексей Владимирович #[br]Фролов





	include includes/_footer
