extends includes/template

block title
	title mainpage


block content
	.container
		include includes/_header
		include includes/_mainmenu

		nav.navbar.navbar-desktop.hidden-xs
			.navbar-header
				ul.nav.navbar-nav
					li.open
						a(href="about.html") О Россотрудничестве
					li
						a(href="activity.html") Деятельность
					li
						a(href="anons.html") Анонсы
					li
						a(href="news.html") Новости
					li
						a(href="contacts.html") Контакты

			a(href="javascript:;").search
				img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

			.searchField
				.input-group
					input(type="text").form-control
					span.input-group-btn
						button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")

		.row
			aside.col-sm-4.hidden-xs
				nav.navbar.navbar-default
					include includes/_sidemenu
			.col-max-6.col-sm-7.col-xs-12
				ol.breadcrumb.hidden-xs
					li: a(href="./") Главная страница
					li: a(href="about.html") О Россотрудничестве

				section.content
					h1 Структура
					h4 Управление гуманитарного сотрудничества и молодежной политики
					p Основная деятельность УГСиМП — содействие развитию культурных, молодежных и иных гуманитарных связей с иностранными государствами, содействие продвижению и популяризации российского историко-культурного наследия и отечественной культуры за рубежом, реализация программы краткосрочных ознакомительных поездок в Российскую Федерацию молодых представителей политических, общественных, научных и деловых кругов иностранных государств «Новое поколение», а также работа с инициативным проектами российских и зарубежных организаций.
					h4 Управление обеспечения деятельности
					h4 Управление по делам Содружества Независимых Государств
					h4 Управление по делам соотечественников и развитию общественной дипломатии
					p Обеспечивает организацию и координацию работы по реализации основных мероприятий Программы работы с соотечественниками, проживающими за рубежом, в части компетенции Россотрудничества. Участвовало в разработке и подготовке проекта Программы на 2015 – 2017 годы. Организует мероприятия по поддержанию и сохранению находящихся за рубежом мест погребения, имеющих для Российской Федерации историко-мемориальное значение. Развивает взаимодействие с российскими и зарубежными неправительственными организациями; координирует деятельность обществ дружбы; содействует поддержанию и развитию международных контактов субъектов Российской Федерации; координирует сотрудничество между породненными городами.
					h4 Управление РЦНК и страновых программ
					p Осуществляет оперативное управление деятельностью представительств (РЦНК), совершенствовует формы и методы их деятельности; участвует в подготовке предложений по развитию и оптимизации сети представительств за рубежом, модернизации их деятельности и внедрению лучших практик; контролирует выполнение представительствами планов и анализирует отчёты об их деятельности; содействует реализации на базе РЦНК программ, направленных на развитие региональной и субрегиональной интеграции.
					h4 Управление содействия международному развитию (СМР) и взаимодействию с международными организациями
					p Занимается разработкой, согласованием и реализацией среднесрочных и долгосрочных программ в сфере содействия международному развитию (СМР) на двустороннем уровне, а также разработкой механизмов, критериев оценки и мониторингом их реализации; взаимодействием с федеральными органами государственной власти Российской Федерации по вопросам выработки и реализации государственной политики в сфере СМР; осуществляет учет программ официальной помощи развитию в части компетенции Россотрудничества; организует мероприятий по повышению кадрового потенциала в российском СМР; осуществляет информационное сопровождение тематики СМР в России и за рубежом, в том числе с использованием потенциала РЦНК.

	include includes/_footer
