extends includes/template

block title
	title mainpage


block content
	.container
		include includes/_header
		include includes/_mainmenu

		nav.navbar.navbar-desktop.hidden-xs
			.navbar-header
				ul.nav.navbar-nav
					li.active
						a(href="about.html") О Россотрудничестве
					li
						a(href="activity.html") Деятельность
					li
						a(href="anons.html") Анонсы
					li
						a(href="news.html") Новости
					li
						a(href="contacts.html") Контакты

			a(href="javascript:;").search
				img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

			.searchField
				.input-group
					input(type="text").form-control
					span.input-group-btn
						button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")


		.row
			aside.col-sm-4.hidden-xs
				nav.navbar.navbar-default
					include includes/_sidemenu
			.col-max-6.col-lg-7.col-sm-8.col-xs-12
				ol.breadcrumb.hidden-xs
					li: a(href="./") Главная страница

				section.content
					h1 Продвижение русской культуры

					img(src="./img/activity/img_03.png")
					h5 Михаил Врубель. Царевна-Лебедь. 1900. #[br]Холст, масло. 142,5 × 93,5 см #[br]Государственная Третьяковская галерея, Москва
					p Уникальность культуры каждого народа является не только его отличительным знаком, но и составляет феномен культурного многообразия человеческой цивилизации в целом. Культура России также является неотъемлемой ее частью.
					p Россия — страна, обладающая огромным культурным наследием и многовековыми культурными традициями. Исторические и географические особенности нашей страны способствовали тому, что Россия развивалась как государство, где сосуществовали и развивались множество культур, взаимодополняя друг друга. Именно эта характерная черта делает русскую культуру притягательной для иностранцев, которые на протяжении не одного столетия пытаются постичь загадочную «русскую душу».
					p Достижения России в области литературы, музыки, балета, театра, изобразительного искусства признаны во всем мире.
					p Русская литература является не только отражением эстетических, нравственных и духовных ценностей своего народа, но отличается глубоким психологизмом в изображении человеческих характеров. Произведения А. С. Пушкина, Ф. М. Достоевского, Л. Н. Толстого, А. П. Чехова, С. А. Есенина давно стали достоянием мировой литературы.
					p Русская классическая музыка дала миру такие имена, как П. И. Чайковский, М. И. Глинка, С. В. Рахманинов, И. Ф. Стравинский, С. С. Прокофьев, Д. Д. Шостакович.
					p Русское изобразительное искусство прославили многие художники, среди них В. А. Серов, В. И. Суриков, В. М. Васнецов, А. А. Иванов, К. З. Малевич, М. З. Шагал. Их картины — всегда желанные участники международных вернисажей.
					p Во всем мире заслуженным авторитетом и признанием пользуются русская театральная и балетная школа. По «системе К. С. Станиславского» работают многие театральные и киноактеры. В России работают театры, имеющие мировую славу, такие как Мариинский театр, Большой и Малый театры. Русский балет прославили Г. С. Уланова, М. М. Плисецкая, Р. Х. Нуриев, М. Н. Барышников. «Русские сезоны», а затем и «Русский балет» Сергея Дягилева неизменно собирали полные залы и были одним из крупнейших событий в мире культуры. В мировую историю оперы вписаны такие имена, как Ф. И. Шаляпин, С. Я. Лемешев, Г. П. Вишневская.
					p Российский кинематограф с момента возникновения был связан с историческими процессами, происходящими в стране и в мире в целом. Многие киноленты получали мировые награды, такие как Премия Академии кинематографических искусств и наук («Оскар»), награды Каннского международного кинофестиваля.  Классиками мирового кино стали фильмы С. М. Эйзенштейна «Броненосец „Потемкин“», Г. В. Александрова «Веселые ребята», И. А. Пырьева «Свинарка и пастух», С. Ф. Бондарчука «Война и мир», М. К. Калатозова «Летят журавли», А. А. Тарковского «Солярис», В. В. Меньшова «Москва слезам не верит», Н. С. Михалкова «Утомленные солнцем», П. С. Лунгина «Остров», А. К. Котта «Брестская крепость».
					p Одним из направлений деятельности Россотрудничества является представление культурного наследия России за ее пределами, а также содействие международному сотрудничеству в сфере культуры.
					p Россотрудничество поддерживает и реализует международные проекты в области культуры и искусства в соответствии #[a(href="javascript:;") с Основными направлениями политики Российской Федерации в сфере международного культурно-гуманитарного сотрудничества].
					p Агентство имеет 93 представительства в 80 странах мира, двери которых открыты для всех, кто активно интересуется Россией и российской культурой. На базе российских центров науки и культуры регулярно проходят различные мероприятия, направленные на популяризацию культуры народов России: концерты российских фольклорных, музыкальных и танцевальных коллективов; творческие встречи с известными российскими деятелями культуры; выставки современных художников; тематические фотовыставки архивных материалов российских музеев; кинопоказы последних достижений отечественной кинематографии; спектакли российских театров для взрослой и детской аудитории.
					p Россотрудничество принимает активное участие в Перекрестных годах России с зарубежными странами, а также проводит серии мероприятий за рубежом, приуроченных к памятным датам российской истории.

					h3 Проекты в области продвижения русской культуры
					.list-group.visible-xs
						a(href="activity_russianCulture_.html").list-group-item 25 лет Содружеству Независимых Государств
						a(href="activity_russianCulture_ruCinema.html").list-group-item Год российского кино
						a(href="activity_russianCulture_.html").list-group-item 90 лет народной дипломатии
						a(href="activity_russianCulture_.html").list-group-item 50-летие первого выхода человека в открытый космос
						a(href="activity_russianCulture_.html").list-group-item Посольство мастерства
						a(href="activity_russianCulture_.html").list-group-item Год литературы
						a(href="activity_russianCulture_.html").list-group-item Год России в Монако
						a(href="activity_russianCulture_.html").list-group-item 70-летие Победы в Великой Отечественной войне
						a(href="activity_russianCulture_.html").list-group-item 175-летие со дня рождения П. И. Чайковского
						a(href="activity_russianCulture_.html").list-group-item 1000-летие преставления святого равноапостольного князя Владимира — Крестителя Руси
						a(href="activity_russianCulture_.html").list-group-item День семьи, любви и верности
						a(href="activity_russianCulture_.html").list-group-item 700-летие со дня рождения преподобного Сергия Радонежского
						a(href="activity_russianCulture_.html").list-group-item 200-летие со дня рождения М. Ю. Лермонтова
						a(href="activity_russianCulture_.html").list-group-item Дружба Народов
						a(href="activity_russianCulture_.html").list-group-item 100-летие начала Первой мировой войны
						a(href="activity_russianCulture_.html").list-group-item Фотовыставка «Гран-при по-русски»
						a(href="activity_russianCulture_.html").list-group-item Год России в Нидерландах и Нидерландов в России
						a(href="activity_russianCulture_.html").list-group-item Год Германии в России и России в Германии
						a(href="activity_russianCulture_.html").list-group-item Год Испании в России и России в Испании
						a(href="activity_russianCulture_.html").list-group-item Год России в Италии
						a(href="activity_russianCulture_.html").list-group-item Год китайского языка в России
						a(href="activity_russianCulture_.html").list-group-item Год России во Франции и Год Франции в России
						a(href="activity_russianCulture_.html").list-group-item Год Болгарии в России


	include includes/_footer
