extends includes/template

block title
	title mainpage


block content
	.container
		include includes/_header
		include includes/_mainmenu

		nav.navbar.navbar-desktop.hidden-xs
			.navbar-header
				ul.nav.navbar-nav
					li.active
						a(href="about.html") О Россотрудничестве
					li
						a(href="activity.html") Деятельность
					li
						a(href="anons.html") Анонсы
					li
						a(href="news.html") Новости
					li
						a(href="contacts.html") Контакты

			a(href="javascript:;").search
				img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

			.searchField
				.input-group
					input(type="text").form-control
					span.input-group-btn
						button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")


		.row
			aside.col-sm-4.hidden-xs
				nav.navbar.navbar-default
					include includes/_sidemenu
			.col-max-6.col-lg-7.col-sm-8.col-xs-12
				ol.breadcrumb.hidden-xs
					li: a(href="./") Главная страница
					li: a(href="activity.html") Направления деятельности
					li: a(href="activity_russianCulture.html") Продвижение русской культуры

				section.content
					h1 Год российского кино

					img(src="./img/russian_culture/ru_cinema/img_01.jpg")
					h5 Андрей Болконский (Вячеслав Тихонов) и Наташа Ростова (Людмила Савельева) #[br]Кадр из художественного фильма Сергея Бондарчука «Война и мир»
					p В соответствии #[a(href="javascript:;") с Указом Президента Российской Федерации от 7.10.2015] 2016 год в Российской Федерации объявлен Годом российского кино.
					p В представительствах Россотрудничества за рубежом в течение всего года запланированы фестивали, выставки, презентации, ретроспективы, встречи с известными режиссерами и актерами, показы современных работ и многое другое.
					h3 История российского кино
					p Первые кинематографические аппараты появились в России уже в апреле 1896 года, всего через 4 месяца после первых парижских кинематографических сеансов.  А первая демонстрация «синематографа Люмьера» прошла 4 (16) мая 1896 года в театре петербургского сада «Аквариум».
					p В конце XIX века в США, Франции, Германии, Дании и Италии уже сформировалась своего рода киноиндустрия. Однако российское кино очень быстро наверстало десятилетнее отставание от западных школ и доросло до новаторских работ. В 10-х годах XX века в России появилось несколько кинокомпаний, которые выпускали как художественные (в том числе первый в мире сюжетный мультфильм), так и просветительские фильмы. К 1912 году кинематограф стал одним из самых распространённых и обычных зрелищ в крупных и средних городах России. В 1913 году в России работали 1412 кинотеатров, из них 134 в Санкт-Петербурге и 67 в Москве.
					p Расцвет российского художественного кинематографа пришелся на Первую мировую войну. В этот период снимает свои главные фильмы выдающийся киностилист Евгений Бауэр, активно работают Владимир Гардин и Вячеслав Висковский, выходят на новый уровень мастерства ветераны-постановщики Пётр Чардынин и Яков Протазанов; появляются новые звёздные актёрские имена — Вера Холодная, Витольд Полонский, Иван Перестиани; начинают работать новые киностудии — Михаила Трофимова (Торговый дом «Русь») и Дмитрия Харитонова (Торговый дом Харитонова).
					p В 20-е и 30-е годы новаторское пролетарское киноискусство, призывающее к мировой революции, вызывало мощный интерес на западе. Особенно высоко были оценены работы Дзиги Вертова и Сергея Эйзенштейна, которые значительно повлияли на развитие кино не только в СССР, но и во всем мире.
					p Достижением советского кинематографа в 1930-е гг. оказалось создание особого кинематографического языка, который соединил в себе реалистические традиции русского сценического искусства, известные во всем мире как система Станиславского, с новейшими техническими приемами, на которые тогда оказался способным мировой кинематограф. Непохожая на остальные фильмы того же жанра, кинокомедия «Частная жизнь Петра Виноградова» режиссёра Александра Мачерета стала первой работой углубленного интереса к частной жизни героев и тонкого лиризма, ставшего визитной карточкой советского кинематографа в 60-е и 70-е гг. Развивался художественно-исторический кинематограф, получивший наиболее яркое свое воплощение в фильме «Чапаев» режиссёров братьев Васильевых.
					p С момента распада СССР государственное финансирование кинопроизводства резко сократилось, и в 90-е кино стали снимать, в основном, мелкие частные киностудии. В 2000-х стали появляться кинокомпании, которые занимаются массовым производством телевизионных фильмов и сериалов, появились прибыльные анимационные фильмы, ставшие популярными не только в России, но и за рубежом («Смешарики», «Маша и Медведь» и другие). А с 2010 года государство вновь стало проявлять интерес к кинопроизводству и участвовать в его финансировании.
					p В последние годы в России вышло сразу несколько картин, которые с равным успехом можно назвать и авторскими, и зрительскими: «Простые вещи», «Шапито-шоу», «Какраки», «О чем говорят мужчины», «Громозека». В них в лучших традициях лирического советского кинематографа рассказываются истории из жизни современных городских жителей, а искренность повествования неизменно находит отклик в сердцах зрителей.

				.row
					section.anons.col-xs-12
						h2 Анонсы

						.row
							.col-xs-12
								article
									.articleImg
										a(href="anonsDetail.html")
											img(src="./img/announcements/img_01.jpg", alt="")
									.articleText
										h2 Австрия, Киноконцертный зал Русского дома в Вене
										time 20 марта 18:30
										h3 Встреча с Владимиром Хотиненко

							.col-xs-12
								article
									.articleImg
										a(href="anonsDetail.html")
											img(src="./img/announcements/img_02.jpg", alt="")
									.articleText
										h2 Австрия, кинотеатр «Burgkino» в Вене
										time 21 марта 18:00
										h3 Встреча с Владимиром Хотиненко

							.col-xs-12
								article
									.articleImg
										a(href="anonsDetail.html")
											img(src="./img/announcements/img_03.jpg", alt="")
									.articleText
										h2 Польша, РЦНК в Варшаве
										time 23 марта 18:00
										h3 Встреча с актером Евгением Воскресенским

							.col-xs-12
								article
									.articleImg
										a(href="anonsDetail.html")
											img(src="./img/announcements/img_04.jpg", alt="")
									.articleText
										h2 Польша, РЦНК в Варшаве
										time 24 марта	18:00
										h3 Открытие Года российского кино

				.row
					section.news.col-xs-12
						h2 Новости
						.row
							.col-sm-6.col-xs-12
								article
									time Сегодня, 18 марта
									.news
										a(href="newsDetail.html")
											img(src="./img/news/2016-02-27/img_01.jpg")
										p Режиссер Владимир Хотиненко: «У меня нет ни одного фильма, который не являлся бы портретом России»

							.col-sm-6.col-xs-12
								article
									time Вчера, 17 марта
									.news
										a(href="newsDetail.html")
											img(src="./img/news/2016-02-27/img_01.jpg")
										p В РЦНК в Бресте прошло заседание киноклуба, посвященное советскому хоккею

							.col-sm-6.col-xs-12
								article
									time 15 марта
									.news
										a(href="newsDetail.html")
											img(src="./img/news/2016-02-27/img_01.jpg")
										p Творческий вечер Владимира Хотиненко открыл Год российского кино в австрийском РЦНК

							.col-sm-6.col-xs-12
								article
									time 14 марта
									.news
										a(href="newsDetail.html")
											img(src="./img/news/2016-02-27/img_01.jpg")
										p В РЦНК в Астане стартовал цикл демонстрации фильмов о Великой Отечественной войне

							.col-sm-6.col-xs-12
								article
									time 11 марта
									.news
										a(href="newsDetail.html")
											img(src="./img/news/2016-02-27/img_01.jpg")
										p В РЦНК в Вене прошла встреча с народной артисткой России Валентиной Талызиной

							.col-sm-6.col-xs-12
								article
									time 5 марта
									.news
										a(href="newsDetail.html")
											img(src="./img/news/2016-02-27/img_01.jpg")
										p В Лондоне прошла презентация детского кинолагеря «Максатикс»

							.col-sm-6.col-xs-12
								article
									time 2 марта
									.news
										a(href="newsDetail.html")
											img(src="./img/news/2016-02-27/img_01.jpg")
										p В столице Таджикистана открылся Год российского кино

							.col-sm-6.col-xs-12
								article
									time 1 марта
									.news
										a(href="newsDetail.html")
											img(src="./img/news/2016-02-27/img_01.jpg")
										p В представительстве Россотрудничества в Каире прошел открытый урок по русскому языку

							.col-sm-6.col-xs-12
								article
									time 27 февраля
									.news
										a(href="newsDetail.html")
											img(src="./img/news/2016-02-27/img_01.jpg")
										p В РЦНК в Киеве прошла творческая встреча с писателем и киносценаристом Андреем Дмитриевым

							.col-sm-6.col-xs-12
								article
									time 26 февраля
									.news
										a(href="newsDetail.html")
											img(src="./img/news/2016-02-27/img_01.jpg")
										p В РЦНК в Киеве состоялась лекция «Космические первопроходцы и герои фильмов»

							.col-sm-6.col-xs-12
								article
									time 20 февраля
									.news
										a(href="newsDetail.html")
											img(src="./img/news/2016-02-27/img_01.jpg")
										p В столице Индии проходит кинофестиваль «Кинодиалог стран БРИКС»



						.row
							.col-xs-12
								p.readmore.dotted: a(href="javascript:;") Другие новости проекта

	include includes/_footer
