extends includes/template

block title
	title inner.html

block prepend css
	// Элементы форм  http://silviomoreto.github.io/bootstrap-select/
	link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css", rel="stylesheet")

	// Календарь http://eonasdan.github.io/bootstrap-datetimepicker/
	+styles('bootstrap-datetimepicker.css')

	// Cлайдеры-ползунки https://github.com/seiyria/bootstrap-slider
	+styles('bootstrap-slider.css')

	// Чекбоксы и радио https://github.com/flatlogic/awesome-bootstrap-checkbox
	+styles('awesome-bootstrap-checkbox.css')

	// Анимация http://daneden.github.io/animate.css/
	+styles('animate.css')

	// bxSlider http://bxslider.com/examples/carousel-dynamic-number-slides
	+styles('jquery.bxslider.css')

	// fancybox http://fancyapps.com/fancybox/
	+styles('jquery.fancybox.css')


//- Дополнительные скрипты для отдельных страниц
block prepend scripts
	// Элементы форм  http://silviomoreto.github.io/bootstrap-select/
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js" defer)

	// Календарь
	script(src="./js/moment-with-locales.min.js" defer)
	script(src="./js/bootstrap-datetimepicker.min.js" defer)

	// Слайдеры-ползунки
	script(src="./js/bootstrap-slider.js" defer)

	// bxSlider
	script(src="./js/jquery.bxslider.min.js" defer)

	// fancybox
	script(src="./js/jquery.fancybox.pack.js" defer)


block content
	.container
		.row
			.col-xs-6
				// mainmenu
				include includes/_mainmenu
			.col-xs-6
				// список
				+list('listId', 'item1','item2','item3')

			.col-xs-12
				div.test-block.well
					input(type="text", placeholder="цвет placeholder")

					p #[strong Вставка] тегов внутрь текста #[a(href="http://jade-lang.com/reference/interpolation/", target="_blank") ссылка] на пример 

					p.
						@include text-owerflow(); - Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, magnam iure sapiente sit quos deserunt quae ipsam. Asperiores ad tenetur odit, at sapiente enim qui amet voluptatum! Officiis, provident, a!
					
					
					| @include img-retina($file-1x; $file-2x; $width-1x; $height-1x);
					| @include center-block();
					.center-block

			.col-xs-12
				.well
					nav
						ul.pagination
							li
								a(href="javascript:;", aria-label="Previous")
									span(aria-hidden="true") &laquo;
							li
								a(href="javascript:;") 1
							li
								a(href="javascript:;") 2
							li
								a(href="javascript:;") 3
							li
								a(href="javascript:;") 4
							li
								a(href="javascript:;") 5
							li
								a(href="javascript:;", aria-label="Next")
									span(aria-hidden="true") &raquo;
		.row
			// animation
			.col-xs-4
				.well
					include includes/_animation

			// transformation
			.col-xs-4
				.well
					h4.animated.fadeOutDown Example animation
					p.
						Если мы используем transform для состояния элемента, мы должны определить transition для его начального состояния.
					.transformation-block
						#square
			
			// scrollbar
			.col-xs-4
				.well
					include includes/_scrollbar

		// lightbox
		.well
			include includes/_fancybox
		
		// form elements
		.well
			include includes/_formelements
				
		// bxSlider
		include includes/_bxslider

		// carousel
		include includes/_carousel

