extends includes/template

block title
	title Новости


block content
	.container.var2
		include includes/_header_var2

		// phone-menu
		nav.navbar.navbar-default.navbar-fixed-top.visible-xs
			.container
				.navbar-header
					button(type="button" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false").navbar-toggle.collapsed
						img(src="./img/icons/ic-menu.svg", onerror="this.onerror=null; this.src='./img/icons/ic-menu.png'").menu
						img(src="./img/icons/ic-close-black-24-px.svg", onerror="this.onerror=null; this.src='./img/icons/ic-close-black-24-px.png'").closeMenu
						span.sr-only Toggle navigation

					a(href="index_var2.html").logo
						img(src="./img/icons/rs-logo-white.svg", onerror="this.onerror=null; this.src='./img/icons/rs-logo-white.png'")

					a(href="index_var2.html").navbar-brand Россотрудничество

					a(href="javascript:;").search
						img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

					.searchField
						.input-group
							input(type="text").form-control
							span.input-group-btn
								button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")

				.collapse.navbar-collapse#navbar-collapsed
					ul.nav.navbar-nav
						li
							a(href="about_var2.html") О представительстве
							ul
								li: a(href="javascript:;") Руководитель
								li: a(href="contacts_var2.html") Контакты
						li
							a(href="activity_var2.html") Деятельность
							ul
								li
									a(href="activity_soot_var2.html") Поддержка соотечественников
									ul
										li: a(href="javascript:;") Организации соотечественников
										li: a(href="javascript:;") Программы поддержки
										li: a(href="javascript:;") Библиотека
								li: a(href="javascript:;") Содействие международному развитию
								li: a(href="javascript:;") Общественная дипломатия
								li: a(href="javascript:;") Продвижение русской культуры
								li: a(href="javascript:;") Укрепление позиций русского языка
								li: a(href="javascript:;") Образование и наука
								li: a(href="javascript:;") Сохранение историко-мемориальных памятников и мест погребения
								li: a(href="javascript:;") Международные связи субъектов РФ
								li: a(href="javascript:;") Интеграция стран СНГ
						li
							a(href="anons_var2.html") Анонсы
							ul
								li: a(href="javascript:;") Кино
								li: a(href="javascript:;") Выставки
								li: a(href="javascript:;") Концерты
								li: a(href="javascript:;") Спектакли
								li: a(href="javascript:;") Конференции
								li: a(href="javascript:;") Семинары
								li: a(href="javascript:;") Конкурсы
								li: a(href="javascript:;") Творческие встречи
								li: a(href="javascript:;") Конференции
						li.open.active
							a(href="news_var2.html") Новости
							ul
								li: a(href="javascript:;") Россия
								li: a(href="javascript:;") СНГ
								li: a(href="javascript:;") Мир
								li: a(href="javascript:;") Образование
								li: a(href="javascript:;") Наука и техника
								li: a(href="javascript:;") Культура
								li: a(href="javascript:;") Общество
								li: a(href="javascript:;") Русский язык
								li: a(href="javascript:;") Народная дипломатия
								li: a(href="javascript:;") Перекрестные годы


					p.represent: a(href="represent.html") Сайты представительств

					.lang
						p Язык
						a.active: img(src="./img/icons/flag/flag-ru.png").flag
						a: img(src="./img/icons/flag/flag-en.png").flag
						a: img(src="./img/icons/flag/flag-de.png").flag
						a: img(src="./img/icons/flag/flag-fr.png").flag
						a: img(src="./img/icons/flag/flag-es.png").flag

		nav.navbar.navbar-desktop.hidden-xs
			.navbarLine
				.col-xs-12
					.navbar-header

						ul.nav.navbar-nav
							li: a(href="about_var2.html") О представительстве
							li: a(href="activity_var2.html") Деятельность
							li: a(href="anons_var2.html") Анонсы
							li.active: a(href="news_var2.html") Новости
							//li: a(href="contacts.html") Контакты

					a(href="javascript:;").search
						img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

					.searchField
						.input-group
							input(type="text").form-control
							span.input-group-btn
								button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")

		.row
			aside.col-sm-3.hidden-xs
				nav.navbar.navbar-default
					ul.nav.navbar-nav
						li
							a(href="about_var2.html") О представительстве
							ul
								li: a(href="javascript:;") Руководитель
								li: a(href="contacts_var2.html") Контакты
						li
							a(href="activity_var2.html") Деятельность
							ul
								li.open.active
									a(href="activity_soot_var2.html") Поддержка соотечественников
									ul
										li: a(href="javascript:;") Организации соотечественников
										li: a(href="javascript:;") Программы поддержки
										li: a(href="javascript:;") Библиотека
								li: a(href="javascript:;") Содействие международному развитию
								li: a(href="javascript:;") Общественная дипломатия
								li: a(href="javascript:;") Продвижение русской культуры
								li: a(href="javascript:;") Укрепление позиций русского языка
								li: a(href="javascript:;") Образование и наука
								li: a(href="javascript:;") Сохранение историко-мемориальных памятников и мест погребения
								li: a(href="javascript:;") Международные связи субъектов РФ
								li: a(href="javascript:;") Интеграция стран СНГ
						li
							a(href="anons_var2.html") Анонсы
							ul
								li: a(href="javascript:;") Кино
								li: a(href="javascript:;") Выставки
								li: a(href="javascript:;") Концерты
								li: a(href="javascript:;") Спектакли
								li: a(href="javascript:;") Конференции
								li: a(href="javascript:;") Семинары
								li: a(href="javascript:;") Конкурсы
								li: a(href="javascript:;") Творческие встречи
								li: a(href="javascript:;") Конференции
						li.open.active
							a(href="news_var2.html") Новости
							ul
								li: a(href="javascript:;") Россия
								li: a(href="javascript:;") СНГ
								li: a(href="javascript:;") Мир
								li: a(href="javascript:;") Образование
								li: a(href="javascript:;") Наука и техника
								li: a(href="javascript:;") Культура
								li: a(href="javascript:;") Общество
								li: a(href="javascript:;") Русский язык
								li: a(href="javascript:;") Народная дипломатия
								li: a(href="javascript:;") Перекрестные годы


			.col-sm-6.col-sm-offset-1.col-xs-12
				ol.breadcrumb.hidden-xs
					li: a(href="index_var2.html") Главная страница

				section.news
					h1 Новости

					.row.grid
						.col-sm-6.col-xs-12.grid-item
							article
								time Сегодня, 27 февраля
								.news
									a(href="newsDetail_var2.html")
									h2 Продвижение российской культуры
									p Россия принимает участие в Международной книжной ярмарке в Каире

								.news
									a(href="newsDetail_var2.html")
										img(src="./img/news/2016-02-27/img_01.jpg", alt="")
									h2 Развитие деловых связей
									p В РЦНК в Нью-Дели прошел круглый стол «БРИКС: эволюция от акронима к глобальному игроку»

								.news
									a(href="newsDetail_var2.html")
									h2 Образование
									p Во Франции проходит творческий конкурс для учителей русского языка

								.news
									a(href="newsDetail_var2.html")
										img(src="./img/news/2016-02-27/img_02.jpg", alt="")
									h2 Перекрестные годы
									p В Москве стартовал перекрестный год обменов между СМИ России и Китая

						.col-sm-6.col-xs-12.grid-item
							article
								time Вчера, 26 февраля
								.news
									a(href="newsDetail_var2.html")
										img(src="./img/news/2016-02-26/img_01.png", alt="")
									h2 Русский язык
									p В Русе на базе средней школы с изучением европейских языков им. Св. Константина-Кирилла Философа (СОШЕЯ) состоялось заседание национальной комиссии по проведению олимпиады по русскому языку

								.news
									a(href="newsDetail_var2.html")
										img(src="./img/news/2016-02-26/img_02.png", alt="")
									h2 Общество
									p В Нью-Йорке пройдут художественные выставки, посвященные Юрию Гагарину

								.news
									a(href="newsDetail_var2.html")
									h2 Продвижение российской культуры
									p Россия принимает участие в Международной книжной ярмарке в Каире

						.subscribe.col-xs-12
							form
								h2 Подписывайтесь #[br.visible-xs]на анонсы и новости:
								input(type="email", placeholder="Ваша эл. почта").form-control
								input(type="submit", value="Подписаться").btn.btn-orange

						.col-sm-6.col-xs-12.grid-item
							article
								time 25 февраля
								.news
									a(href="newsDetail_var2.html")
									h2 Образование
									p РЦНК в Каире развивает деловые связи с египетскими вузами

						.col-sm-6.col-xs-12.grid-item
							article
								time 24 февраля
								.news
									a(href="newsDetail_var2.html")
										img(src="./img/news/2016-02-26/img_01.png", alt="")
									h2 Русский язык
									p В Русе на базе средней школы с изучением европейских языков им. Св. Константина-Кирилла Философа (СОШЕЯ) состоялось заседание национальной комиссии по проведению олимпиады по русскому языку

								.news
									a(href="newsDetail_var2.html")
										img(src="./img/news/2016-02-26/img_02.png", alt="")
									h2 Общество
									p В Нью-Йорке пройдут художественные выставки, посвященные Юрию Гагарину

								.news
									a(href="newsDetail_var2.html")
									h2 Продвижение российской культуры
									p Россия принимает участие в Международной книжной ярмарке в Каире
						.col-sm-6.col-xs-12.grid-item
							article
								time 23 февраля
								.news
									a(href="newsDetail_var2.html")
									h2 Образование
									p РЦНК в Каире развивает деловые связи с египетскими вузами

								.news
									a(href="newsDetail_var2.html")
									h2 Общество
									p Заместитель директора РИСИ Тамара Гузенкова стала почетным членом Евразийского экспертного клуба в Ереване

								.news
									a(href="newsDetail_var2.html")
									h2 Тематические встречи
									p В РЦНК в Афинах обсудили вопросы межправославных греко-российских связей

						.col-sm-6.col-xs-12.grid-item
							article
								time 25 февраля
								.news
									a(href="newsDetail_var2.html")
									h2 Образование
									p РЦНК в Каире развивает деловые связи с египетскими вузами

						.col-sm-6.col-xs-12.grid-item
							article
								time 24 февраля
								.news
									a(href="newsDetail_var2.html")
										img(src="./img/news/2016-02-26/img_01.png", alt="")
									h2 Русский язык
									p В Русе на базе средней школы с изучением европейских языков им. Св. Константина-Кирилла Философа (СОШЕЯ) состоялось заседание национальной комиссии по проведению олимпиады по русскому языку

								.news
									a(href="newsDetail_var2.html")
										img(src="./img/news/2016-02-26/img_02.png", alt="")
									h2 Общество
									p В Нью-Йорке пройдут художественные выставки, посвященные Юрию Гагарину

								.news
									a(href="newsDetail_var2.html")
									h2 Продвижение российской культуры
									p Россия принимает участие в Международной книжной ярмарке в Каире
						.col-sm-6.col-xs-12.grid-item
							article
								time 23 февраля
								.news
									a(href="newsDetail_var2.html")
									h2 Образование
									p РЦНК в Каире развивает деловые связи с египетскими вузами

								.news
									a(href="newsDetail_var2.html")
									h2 Общество
									p Заместитель директора РИСИ Тамара Гузенкова стала почетным членом Евразийского экспертного клуба в Ереване

								.news
									a(href="newsDetail_var2.html")
									h2 Тематические встречи
									p В РЦНК в Афинах обсудили вопросы межправославных греко-российских связей

					.row
						.col-xs-12
							p.readmore.dotted: a(href="news_var2.html") Другие новости


	include includes/_footer_var2


